/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


// required
@import "compass/reset";
@import 'bourbon/bourbon';

// custom sass
@import "utilities/_variables.scss";

// plugins
@import "plugins/_slider.scss";

// fonts
@import "utilities/_fonts.scss";

// modules
@import "utilities/_header.scss";
@import "utilities/_menu.scss";
@import "utilities/_search.scss";

@import "utilities/_article.scss";
@import "utilities/_news-list.scss";
@import "utilities/_share-links.scss";
@import "utilities/_investor-information.scss";
@import "utilities/_newsletter.scss";
@import "utilities/_position-listing.scss";

@import "utilities/_frontpage.scss";
@import "utilities/_area-landing.scss";
@import "utilities/_area-article.scss";
@import "utilities/_projects.scss";
@import "utilities/_search.scss";

@import "utilities/_footer.scss";




* {
	@include box-sizing(border-box);
}

body, input {
	font-family: sans-serif;
	font-size: em(14);
	line-height: 1.4em;
	color: $gray;
	-webkit-font-smoothing: antialiased;
}





#wrapper {
	width: 100%;
	margin: 0 auto;
	
	@media only screen and (min-width: $wrapperWidth) {
		width: $wrapperWidth;
	}
}




#header {
	@include background(linear-gradient($darkGray, $gray) left no-repeat);
	
	a {
		color: $white;
	}
}




#logo {
	img, object {
		max-width: 66px;
		position: absolute;
		top: 5px;
		right: 20px;
		z-index: 20;
	}
}





.menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	z-index: 10;
	display: none;
}


hr {
	border: none;
	border-top: 1px solid $lightGray;
}



article {
	ul {
		margin-left: 1em;
		
		li {
			list-style: disc;
		}
	}
	
	strong {
		font-weight: bold;
	}
	
	em {
		font-style: italic;
	}
	
	a {
		color: $gray;
	}
}

.black-title {
	background-color: #383838;
	border-top: 1px solid #808080;
	color: white;
	font-weight: bold;
	font-size: em(18);
	line-height: 1.3;
	padding: em(10) em($padding);
	margin: 0 em(-$padding);
	margin-top: -18px;
}

.subtitle {
	background-color: $lightGray;
	font-weight: bold;
	font-size: em(18);
	line-height: 1.3;
	margin: 0 em(-$padding);
	padding: em(10) em($padding);
	text-transform: none;
}