article {
	@include clearfix;
	padding: em($padding);
	
	h2 {
		font-weight: bold;
		color: $lightGrayTextColor;
		text-transform: uppercase;
		
		&.underline {
			text-decoration: underline;
		}
		
		a {
			color: $lightGrayTextColor;
		}
	}
	
	h1 {
		font-weight: bold;
		font-size: em(18);
		line-height: 1.3;
		margin: em(2) 0;
	}
	
	.date {
		color: $lightGrayTextColor;
		margin-bottom: 1em;
	}
	
	img {
		width: 100%;
		height: auto;
	}
	
	p {
		margin: .75em 0;
	}
	
	.article-intro {
		font-weight: bold;
	}
	
	h1 + .article-image {
		margin-top: 1em;
	}
	
	.article-link {
		font-weight: bold;
		padding-right: 15px;
		@include retina-image('../images/arrow-right', 6px 9px);
		background-repeat: no-repeat;
		background-position: 100% 50%;
	}
	
	.gray-box {
		background-color: $lightGray;
		padding: em(10) em($padding);
		margin-left: em(-$padding);
		margin-right: em(-$padding);
		border-top: 1px solid white;
	}
	
	.contact {
		margin: 0 em(-$padding) 0 em(-$padding);
		
		&.border {
			border-bottom: 1px solid white;
		}
		
		li {
			list-style-type: none;
		}
		
		.yellow {
			@include clearfix;
			background-color: $yellowColor;
			border-top: 1px solid white;
			padding: em(8) em($padding);
		}
		
		.phone, .mail {
			font-size: em(30);
			line-height: em(25);
		}
		
		a {
			text-decoration: none;
			display: block;
		}
		
		& + h1 {
			margin-top: 1em;
		}
	}
}

section {
	&.facts, &.map {
		@include clearfix;
		padding: em($padding);
		
		a {
			color: inherit;
		}
	}
	
	&.facts {
		background-color: $lightGray;
		
		dt {
			font-weight: bold;
			margin-top: .75em;
			
			&:first-child {
				margin-top: 0;
			}
		}
	}
	
	&.map {
		img {
			border: 1px solid $lightGrayTextColor;
			width:100%;
			height: auto;
		}
		
		p:first-child {
			margin-bottom: 1em;
		}
		
		strong {
			font-weight: bold;
		}
	}
}