@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?38196976');
  src: url('../fonts/fontello.eot?38196976#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?38196976') format('woff'),
       url('../fonts/fontello.ttf?38196976') format('truetype'),
       url('../fonts/fontello.svg?38196976#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?38196976#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gplus:before { content: '\67'; } /* 'g' */
.icon-linkedin:before { content: '\69'; } /* 'i' */
.icon-twitter:before { content: '\77'; } /* 'w' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-up-big:before { content: '\75'; } /* 'u' */
.icon-down-big:before { content: '\64'; } /* 'd' */
.icon-mail:before { content: '\6d'; } /* 'm' */
.icon-menu:before { content: '\72'; } /* 'r' */
.icon-search:before { content: '\73'; } /* 's' */
.icon-phone:before { content: '\70'; } /* 'p' */
.icon-lock:before { content: '\6c'; } /* 'l' */