#footer {
	.scroll-top {
		@include clearfix;
		padding: em($padding);
		
		a {
			@include size(30);
			@include hide-text;
			display: block;
			clear: both;
			border-radius: 30px;
			@include retina-image('../images/arrow-up', 11px 14px);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-color: $yellowColor;
		}
	}
	
	.bar {
		@include clearfix;
		overflow: hidden;
		background-color: $gray;
		height: em(50);
		line-height: em(53);
		padding: 0 8px 0 em($padding);
		font-size: em(18);
		
		a {
			text-decoration: none;
			color: white;
		}
		
		.left {
			a {
				color: $yellowColor;
			}
		}
		
		.right {
			a {
				font-size: em(25);
				border-left: 1px solid #626262;
				padding: 8px;
			}
		}
	}
	
	.links {
		background-color: $lightGray;
		padding-bottom: em(15);
	}
	
	.languages {
		@include clearfix;
		padding: em(14) em(20);
		
		li {
			width: 33%;
			float: left;
			
			&:last-child {
				text-align: right;
			}
		}
		
		a {
			color: $gray;
			text-decoration: none;
			font-size: em(14);
		}
	}
	
	.share-links {
		margin-bottom: 0;
		padding-bottom: em(5);
	}
}