// business area
.business-area {
	@include clearfix;
	background-color: #f8f8f8;
	padding-top: em(10);
	
	li {
		float: left;
		width: 33%;
		margin-bottom: em(15);
		border-left: 1px solid white;
		
		&:nth-child(3n+1) {
				border: none;
		}
	}
	
	a {
		display: block;
		text-align: center;
		color: $gray;
		font-weight: bold;
		text-decoration: none;
		
		img {
			max-height: 47px;
			width: auto;
		}
		
		span {
			display: block;
		}
	}
}

// slides
.content-slider {
	.slides {
		position: relative;
		line-height: 0;
		
		h2 {
			background-color: rgba(68, 68, 68, .8);
			color: white;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 16px 20px;
			z-index: 5;
			line-height: 1;
			font-size: 18px;
			font-weight: bold;
		}
	}
}