#header {
	position: relative;
	height: 80px; // TODO: Riktig størrelse?
	
	.frontpage & {
		height: 50px;
	}
}

#logo {
	@include hide-text;
	@include retina-image('../images/logo', 66px 66px);
	@include size(66);
	display: block;
	float: right;
	position: absolute;
	top: 6px;
	right: 16px;
}