// investor information
.investor {
	background-color: $lightGray;
	padding: em(20) em($padding);
	overflow: hidden;
	color: $grayTextColor;
	
	ul {
		li {
			width: 38%;
			float: left;
			
			&:first-child {
				width: 20%;
			}
			
			&.right {
				text-align: right;
				width: 42%;
			}
			
			&.link {
				line-height: em(40);
			}
		}
	}
	
	strong {
		color: $darkGray;
		font-weight: bold;
		font-size: em(18);
		
		span {
			&.positive {
				color: #39b549;
			}
			
			&.negative {
				color: #f00;
			}
		}
	}
	
	a {
		color: $gray;
	}
	
	& + .stock-messages h2 {
		border-top: 1px solid white;
	}
}