#header {
	position: relative;
	z-index: 100;
}

nav {
	ul {
		width: 100%;
		
		li {
			width: 100%;
		}
		
		a {
			display: block;
			background-color: $gray;
			color: $yellowColor !important;
			border-top: 1px solid #808080;
			padding: em(14) em(20);
			font-size: em(18);
			text-decoration: none;
			@include retina-image('../images/menu-arrow', 34px 11px);
			background-position: 100% 50%;
			background-repeat: no-repeat;
		}
		
		ul {
			a {
				padding-left: em(40);
			}
		}
	}
	
	&:first-child a {
		border-left: none;
	}
}

.main-nav {
	padding-top: em(6);
	
	a {
		text-decoration: none;
	}
	
	> li {
		float: left;
		width: auto;
		
		> a {
			@include size(53px 40px);
			font-size: em(25);
			border-top: none;
			border-left: 1px solid #5b5b5b;
			text-align: center;
			line-height: em(30);
			color: white !important;
			background-color: transparent;
			padding: 0;
			background-image: none;
			
			&.active {
				color: $yellowColor !important;
			}
			
			&.toggle-menu {}
		}
		
		> ul {
			background-color: $gray;
			position: absolute;
			width: 100%;
			top: 80px;
			-webkit-box-shadow: 0 8px 6px -6px black;
			   -moz-box-shadow: 0 8px 6px -6px black;
			        box-shadow: 0 8px 6px -6px black;
			
			.frontpage & {
				top: 50px;
				padding-top: 30px;
			}
			
			li {
				width: 100%;
			}
			
			a {
				display: block;
				background-color: $gray;
				color: $yellowColor !important;
				border-top: 1px solid #808080;
				padding: em(14) em(20);
				font-size: em(18);
			}
			
			ul {
				a {
					padding-left: em(40);
				}
			}
		}
		
		&:first-child a {
			border-left: none;
		}
	}
}

.overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 90;
	background-color: rgba(68, 68, 68, .8);
}