.newsletter {
	background-color: $gray;
	padding: em($padding);
	color: white;
	
	h2 {
		color: $yellowColor;
		margin-bottom: .75em;
	}
	
	form {
		margin: 0.75em 0;
	}
	
	input {
		border-radius: 5px;
		border: none;
		padding: em(8) em(10);
		width: 85%;
		
		&:focus {
			outline: none;
			border: none;
		}
	}
	
	button {
		@include hide-text;
		border: none;
		width: 15%;
		height: 30px;
		float: right;
		background-color: transparent;
		margin-right: -20px;
		
		@include retina-image('../images/menu-arrow', 34px 11px);
		background-position: 100% 50%;
		background-repeat: no-repeat;
	}
}