.news-list {
	@include clearfix;
	
	h2 {
		background-color: $lightGray;
		color: $grayTextColor;
		padding: em(10) em($padding);
		font-size: em(18);
		font-weight: bold;
		
		a {
			float: right;
			padding: 0;
			font-size: em(14);
			font-weight: 100;
			text-decoration: underline;
			color: $gray;
		}
	}
	
	li {
		a {
			display: block;
			padding: em(10) em($padding);
			color: $gray;
			border-bottom: 1px solid $lightGray;
			text-decoration: none;
			
			&:active {
				background-color: lighten($lightGray, 50%);
			}
		}
	}
	
	h4 {
		font-weight: bold;
		
		span {
			font-weight: normal;
		}
	}
	
	.date {
		color: $grayTextColor;
	}
	
	img {
		width: 100%;
	}
}