.project-header {
	padding: 0 em(20);
	
	h1 {
		font-size: em(18);
		font-weight: bold;
		margin: 1em 0;
	}
	
	select {
		width: 100%;
		font-size: 14px;
		padding: em(5);
	}
}

.project {
	border-bottom: 1px solid $lightGray;
	
	.article-image {
		margin-bottom: 1em;
	}
	
	h3 {
		font-weight: bold;
		color: $lightGrayTextColor;
		text-transform: uppercase;
	}
	
	h2 {
		font-weight: bold;
		font-size: em(18);
		line-height: 1.3;
		margin: em(2) 0;
		text-transform: none;
		color: $gray;
	}
}