#header {
	
	.search {
		z-index: 50;
		background-color: #383838;
		border-top: 1px solid #808080;
		position: absolute;
		width: 100%;
		top: 80px;
		-webkit-box-shadow: 0 8px 6px -6px black;
		   -moz-box-shadow: 0 8px 6px -6px black;
		        box-shadow: 0 8px 6px -6px black;
		
		.frontpage & {
			top: 50px;
			padding-top: 30px;
		}
		
		form {
			margin: 0.75em em($padding);
		}
		
		input {
			border-radius: 5px;
			border: none;
			padding: em(8) em(10);
			width: 85%;
			
			&:focus {
				outline: none;
				border: none;
			}
		}
		
		button {
			@include hide-text;
			border: none;
			width: 15%;
			height: 30px;
			float: right;
			background-color: transparent;
			margin-right: -17px;
			
			@include retina-image('../images/menu-arrow', 34px 11px);
			background-position: 100% 50%;
			background-repeat: no-repeat;
		}
	}
}