.share-links {
	@include clearfix;
	padding: 0 em($padding);
	line-height: em(35);
	color: $lightGrayTextColor;
	margin-bottom: 2em;
	
	span {
		display: block;
		text-align: right;
	}
	
	li {
		float: left;
		margin-left: em($padding);
		
		&:first-child {
			margin-left: 0;
		}
		
		a {
			@include size(30);
			display: block;
			color: white;
			text-align: center;
			line-height: em(35);
			text-decoration: none;
			
			&.rounded {
				border-radius: em(30);
				background-color: $lightGrayTextColor;
			}
			
			&.share-tw {}
			&.share-li {}
			&.share-gp {}
			&.share-fb {}
			
			&.share-em {
				color: $lightGrayTextColor;
				font-size: em(25);
				line-height: em(22);
			}
		}
	}
}