// sizes
$wrapperWidth: 600px; // for dev
$padding: 20;

// colors
$white: #fff;
$darkGray: #333;
$gray: #444;
$lightGray: #e9e9e9;
$grayTextColor: #808080;
$yellowColor: #fdcb00;

$lightGrayTextColor: #929496;



.right {
	float: right;
}

.left {
	float: left;
}