/*************************************************
Basic style sheet
www.afgruppen.no
**************************************************/
@import "hacks.css";

* {
border: 0;
margin: 0;
padding: 0;
}

body {
background: #f0f0f0;
color: #4d4d4d;
font-family: arial, helvetica, sans-serif;
font-size: 62.5% !important;
line-height: 1;
text-align: center;
}

h2 { color:#444; }

#wrapper {
margin: 0 auto;
padding: 10px 0 0 0;
text-align:left;  
overflow: hidden;
width: 964px;
}

#content-wrapper {
position:relative;
padding: 20px 0 100px 0;
width: 962px;
}

.content-wrapper-inner {
float: left;
overflow: hidden;
width: 760px;
}

.content-wide { float:left; width:760px; }
.content-wide .innerContent { float:left; width:558px; }
.innerContent { width:100%; overflow:hidden; padding-bottom:30px; }

.content-nav {
float: left;
width: 174px;
margin-right:18px;
padding-left:10px;
}

.content {
float: left;
overflow: hidden;
margin-top:-3px;
padding: 0 0 30px;
width: 558px;
}

.content .column1,
.content-wide .column1,
.content .column2,
.content-wide .column2 {
width: 100%;
margin: 0 0 30px;
}

#googleMapDiv { padding:4px; background:#fff; border:1px solid #ebeaea; }

.secondary-content {
float: right;
overflow: hidden;
width: 192px;
}

.frontpage { position:relative; width:100%; overflow:hidden; padding-bottom:30px; }

.subSectionNavigation { width:100%; overflow:hidden; margin-bottom:30px; }
.subSectionNavigation h2 { font-size:2.6em; margin-bottom:30px; }
.subSectionNavigation .intro { float:left; width:366px; font-size:2em; line-height:1.3em; }
.subSectionNavigation.fullwidth .intro { width: 960px;}
.subSectionNavigation ul { list-style-type:none; float:right; }
.subSectionNavigation li { width:64px; padding:0 15px; text-align:center; font-size:1.4em; font-weight:bold; background-position:center top; background-repeat:no-repeat; float:left; }
.subSectionNavigation li a:link,
 .subSectionNavigation li a:visited { display:block; padding:74px 0 10px; color:#444; text-decoration:none; }
.subSectionNavigation li a:hover { color:#5b8f22; }

.basic .subSectionNavigation li { width:89px; }

.fullscreen .subSectionNavigation { padding-left:10px; }
.fullscreen .subSectionNavigation li { width:140px; }

.actionHeader { overflow:hidden; padding-bottom:30px; }
.actionHeader h1 { font-size:4em; margin-bottom:.5em; }
.actionHeader .intro h1 + p { font-size:2.4em; margin-bottom:.5em; }
.actionHeader .intro p,
.actionHeader .intro table { border-collapse:collapse; font-size:1.6em; margin-bottom:.5em; }
.actionHeader .intro ul,
 .actionHeader .intro ol { line-height:1.2; margin-bottom:1em; }
.actionHeader .intro li { font-size:1.6em; list-style-position:inside; margin-left:0; }
.actionHeader .intro th { border-bottom:1px solid #ddd; }
.actionHeader .intro th,
 .actionHeader .intro td { padding:0 10px 0 0; }
.actionHeader .intro img { float:left; margin:0 1em 1em 0; }

.frontpage .wide {
padding: 0 7px 0 10px;
width: 778px;
}

.frontpage .column1 {
float: left;
margin-left: 5px;
width: 374px;
}

html>body .frontpage .column1 {
margin-left: 10px;
}

.frontpage .listWork {
float: left;
width: 376px;
border-top:1px solid #bcbcbc;
}


.left {float: left;}
.right {float: right;}
.clear {clear: both;}

iframe {
margin: 0;
padding: 0;
}

.iframePage .content { width:568px; }
.iframePage .secondary-content { width:182px; }
.iframePage iframe { margin-bottom:20px; }
.iframePage .secondary-content .contact dl { width:108px; }
/*************************************************
=Typography
**************************************************/

h2.intro {
color: #333;
font-size: 1.5em;
font-weight: normal;
line-height: 1.3;	
text-transform: none;
}

.headline {
	float:left;
	margin-bottom:20px;
	width:760px;
}

.headline h1 {
	float:left;
	width:558px;
	font-size: 3.2em;
	line-height: 1.25em;
}

.headline .tools { float:right; width:42px; padding-top:15px; text-align:center; }
.headline .tools li { float:right; width:16px; height:16px; }
.headline .tools li a { display:block; width:16px; height:16px; }
.headline .tools li a span { position:absolute; top:-20000px; height:10px; overflow:hidden; }
.headline .tools li.pdf a { background:url(../images/pdfNew.gif); }
.headline .tools li.print { padding-left:9px; }
.headline .tools li.print a { background:url(../images/printNew.gif); }

.content .headline ul {
float: right;
}

.content-wide .headline ul {
float: right;
}

li, dd, dt { font-size:1.3em; }
li li, dd li, dt li, li li a { font-size:1em; }

ul {
list-style-type: none;
}

sub, sup {
font-size: 0.9em;
}

a:link,
a:visited {
color: #666;
text-decoration: underline;	
}

a:focus,
a:active,
a:hover {
color: #5b8f22;
}

.content p {
font-size: 1.2em;
line-height: 1.4;
margin: 5px 0;
}

.content-wide p {
font-size: 1.2em;
line-height: 1.4;
margin: 5px 0;
}

/*************************************************
=Images
**************************************************/
.content-wrapper-inner img {
border: 1px solid #fff;
}

table.searchresult {
border: 0 !important;
}

table.searchresult td,
table.searchresult th {
border-right: 0 !important;
}

.searchresult img {
border: 0;
}
/*************************************************
=Form elements
**************************************************/
select {
border: 1px solid #666;
color: #666;
font-size: 1.1em;
vertical-align: middle;
}

label {
color: #666;
font-size: 1.1em;
font-weight: bold;
line-height: 1.3;
vertical-align: middle;
}

label.sub {
font-weight: normal;
}

label input {
margin: 0 2px 0 8px;
}

input.text {
border: 1px solid #e3e3e3;
font-family: arial, helvetica, sans-serif;
font-size: 1.2em;
height: 17px;
line-height: 17px;
vertical-align: middle;
}

textarea {
border: 1px solid #e3e3e3;
font-family: arial, helvetica, sans-serif;
font-size: 1.2em;
}

#header .button {
background: url(../images/button-small.png) no-repeat top left;
cursor: pointer;
color: #5b8f22;
font-size: 1.1em;
font-weight: bold;
height: 24px;
line-height: 24px;
min-height: 24px;
min-width: 39px;
text-align: center;
vertical-align: middle;
width: 39px;
}
#content-wrapper .button {
	padding:5px 10px 5px 25px;
	cursor: pointer;
	color: #444;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.714em;
	text-align: center;
	text-decoration:none;
	vertical-align: middle;
	background:#FECB00 url(../images/arrows.png) no-repeat 8px -59px;
}
#content-wrapper a.button { text-decoration:none; display:inline-block; padding:3px 10px 3px 25px; }
#content-wrapper input.button { vertical-align:middle; overflow:visible; height:1%; zoom:1; }

html>body .button {
height: auto;
width: auto;
}

.button.clear {
font-weight: normal;
}

.content .form {
	width:100%;
	float:left;
margin-bottom: 17px;
padding-bottom: 2px;
background:#f8f8f8;
border:1px solid #ebeaea;
}

.form .form-inner {
padding: 10px 6px 10px 6px;
}

.content .form .form-inner div {
margin-bottom: 8px;
}

.form .form-inner .row { float:left; width:100%; margin:0; clear:both; }

.content .form select {
margin: 0 13px 0 7px;
}

.content .form .selects select {
margin: 0 3px 0 3px;
}

.content .form input.text {
	height:26px;
margin: 0 6px 0 8px;
}

.content .form p {
color: #333;
font-size: 1.2em;
padding-bottom: 10px;
}

em.must {
color: #900;
font-size: 1.2em;
font-style: normal;
font-weight: normal;
}

.content .line {
padding-bottom: 9px;
}

.content .line label {
display: block;
float: left;
}

.content .line input.text {
margin: 0;
}

.content .buttons {
text-align: right;
}

.content .imgform {
margin: 10px 0;
}

.content .imgform img {
float: left;
margin: 0 10px 10px 0;
}

.content .imgform fieldset {
float: right;
width: 397px;
}

.content .imgform fieldset p {
font-size: 1.2em;
line-height: 1.4;
margin-bottom: 7px;
}

.content .imgform fieldset div {
padding-bottom: 9px;
}

.content .imgform label {
display: block;
float: left;
width: 100px;
}

p.confirm {
background: transparent;
border: 1px solid #87b754;
color: #5b8f22;
font-weight: bold;
padding: 7px 11px;
}

p.error {
background: transparent;
border: 1px solid #d47878;
color: #900;
font-weight: bold;
padding: 7px 11px;
}

label.error {
color: #900;	
}

/* Xform */
#id_matrix {
table-layout: auto;
width: auto;
}

#id_matrix td {
}

#id_matrix span {
color: #333;
display: block;
font-size: 1em;
/*font-weight: bold;*/
line-height: 1.3;
vertical-align: middle;
width: 110px;
}

#id_matrix input {
border: 1px solid #e3e3e3;
margin-left: 5px;
}

html>body #id_matrix input {
border: 1px solid #e3e3e3;
font-family: arial, helvetica, sans-serif;
font-size: 1.2em;
height: 17px;
line-height: 17px;
vertical-align: middle;
width: auto;

}
#id_matrix input[type="radio"], #id_matrix input[type="checkbox"]{
border: none;
}

html>body #id_matrix input[type="radio"], #id_matrix input[type="checkbox"] {
border: none;
}

html>body #id_matrix label {
font-weight: normal;
margin: 5px 5px 5px 5px;
color: #333;
}

#id_matrix textarea 
{
margin-left: 5px;
border: 1px solid #e3e3e3;
font-family: arial, helvetica, sans-serif;
font-size: 1.2em;
width: 420px;
}

html>body #id_matrix input[type="submit"] {
background: url(../images/button-xlarge.png) no-repeat top left;
border: 0;
cursor: pointer;
color: #5b8f22;
float: right;
font-size: 1.1em;
font-weight: bold;
height: 24px;
line-height: 24px;
min-height: 24px;
min-width: 39px;
text-align: center;
vertical-align: middle;
width: 90px;
}


.labelControlPair,
 .form .form-inner .labelControlPair { float:left; min-width:152px; margin:0 0 0 15px; }
.labelControlPair:first-child,
 .form .form-inner .labelControlPair:first-child { margin-left:0; }
.labelControlPair label { display:block; }
.labelControlPair .FreeText { width:50%; }
.labelControlPair .leadIn { line-height:1.917em; }

#content-wrapper .form .row .button { margin-top:5px; font-size:1.083em; }

.eqWithLbl { display:inline-block; width:2.5em; }


/* Selectmenu
base ----------------------------------*/
.ui-selectmenu { display: block; display: inline-block; position: relative; height: 2.2em; vertical-align: middle; text-decoration: none; overflow: hidden; zoom: 1; }
.ui-selectmenu-icon { position:absolute; width:21px; height:27px; right:0; margin-top:-13px; top: 50%; background:url(../images/uiSelectTrigger.png) no-repeat left top; }
.ui-selectmenu-menu { padding:0; margin:0; position:absolute; top: 0; display: none; z-index: 1005;} /* z-index: 1005 to make selectmenu work with dialog */
.ui-selectmenu-menu  ul { padding:0 20px 0 0; margin:0; list-style:none; position: relative; overflow: auto; overflow-y: auto ; overflow-x: hidden; } 
.ui-selectmenu-open { display: block; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; font-size:1.2em; white-space:nowrap; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status { line-height: 1.4em; display: block; padding: .405em 2.1em .405em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled { cursor: default; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/* for optgroups */
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding: .6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }
/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li { border-color: pink; filter:chroma(color=pink); width:100%; }
* html .ui-selectmenu-menu li a { position: relative }
/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled, *+html .ui-state-disabled a { color: silver; }

/* Selectmenu
specific ----------------------------------*/
.ui-selectmenu-dropdown { min-width:130px; height:2em; margin-bottom:10px; padding-right:20px; padding-bottom:1px; text-decoration:none !important; white-space:nowrap; background:#fff; border:1px solid #d6d6d6; }
.ui-state-active { border-bottom:0px; }
.ui-selectmenu-open { background:#fff; text-align:left; border:1px solid #d6d6d6; }
.ui-selectmenu-menu li a { padding-right:200px; }

.secondary-content .ui-selectmenu-dropdown { font-size:1.2em; }
.form input.text { width:173px; height:25px; margin-bottom:10px; }
.secondary-content input.text { width:173px; height:25px; margin-bottom:10px; }

.form-inner .row { clear:both; }

.selectionMaker { margin-bottom:20px; clear:both; background:#f8f8f8; border:1px solid #ebeaea; }
.selectionMaker .form-inner { overflow:hidden; }



/*************************************************
=Header
**************************************************/
/* Yellow top bar*/
#header .top {
background: url(../images/top-bg.png) no-repeat top left;
height: 54px;
min-height: 54px;
padding: 0 0 0 0;
}

html>body #header .top {height: auto;}

#header .top ul {float: right;height: 51px;}
html>body #header .top ul {height: auto;margin-top: 4px;margin-right: 5px;border-left: 1px solid #FFF;}
#header .top ul li {float: left;text-align: center;width: 95px; font-size:1em; border-right: 1px solid #FFF;height: 51px;}

#header .top ul li a:link, 
#header .top ul li a:visited,
#header .top ul li span {color: #262626;display: block;font-size: 1.1em;line-height: 1.1;text-decoration: none;padding: 20px 8px;}

#header .top ul li a:focus,
#header .top ul li a:active,
#header .top ul li a:hover,
#header .top ul li span {color: #5b8f22;}

#header .top form div {float: right;padding: 18px 0 0 18px;width: 267px;}
#header .top input.text {margin: 0 7px 0 0;vertical-align: middle;width: 193px;}

/* Grey bread crumb bar */
#header .path {background: url(../images/path2-bg.png) no-repeat bottom left;height: 32px;min-height: 32px;}

html>body #header .path {
height: auto;
}

#header .path div {
float: left;
padding: 4px 0 0 18px;
width: 860px;
}

#header .path h2 {
color: #262626;
display: inline;
float: left;
font-size: 1.2em;
font-weight: normal;
line-height: 1;
padding-right: 5px;
}

#header .path ol li {
color: #262626;
display: inline;
float: left;
font-size: 1.2em;
font-weight: normal;
line-height: 1;
list-style-type: none;
padding: 0 5px 0 0;
}

#header .path ol li a:link,
#header .path ol li a:visited,
#header .path ul li a:link,
#header .path ul li a:visited,
#header .path ol li span {
background: url(../images/arrow-green.gif) no-repeat center right;
color: #262626;	
font-size: 1em;
padding: 0 10px 0 0;
text-decoration: none;
}

#header .path ul li a:link,
#header .path ul li a:visited {
background-image: none;
font-size: 1.1em;
line-height: 1.1;
}

#header .path ol li a:focus,
#header .path ol li a:active,
#header .path ol li a:hover,
#header .path ul li a:focus,
#header .path ul li a:active,
#header .path ul li a:hover {
color: #5b8f22;
}

#header .path ul {
float: right;
margin-top: 2px;
width: 72px;
}

#header .path ul li {
float: left;
margin-right: 2px;
overflow: hidden;
padding: 0 0 0 20px;
width: 110px;
}

#header .path ul li.flag {
margin: 0;
padding-left: 9px;
width: 20px;
}

/*************************************************
=Main navigation
**************************************************/
#header .main-nav {
background: #333 url(../images/main-nav2-bg.png) no-repeat bottom left;
height: 91px;
min-height: 91px;
padding-bottom: 18px;
}

html>body #header .main-nav {
height: auto;
}

#header .main-nav .main-nav-inner {
background: url(../images/main-nav2-bg.png) no-repeat top left;
height: 85px;
min-height: 85px;
padding: 8px 0 0 28px;
}

html>body #header .main-nav .main-nav-inner {
height: auto;	
}

#header .main-nav .main-nav-inner div {
float: left;
overflow: hidden;
width: 743px;
}

#header .main-nav img {
float: left;
margin: 19px 0 0 0;
}

#header .main-nav a:link,
#header .main-nav a:visited {
color: #fff;
outline: none;
text-decoration: none;
}

#header .main-nav a:focus,
#header .main-nav a:active,
#header .main-nav a:hover,
#header .main-nav ul li span,
#header .main-nav li.selected a:link,
#header .main-nav li.selected a:visited {
color: #fecb00;
}

#header .main-nav ul.main {
margin: 8px 0 0 81px;
float: left;
min-height: 75px;
height: 75px;
padding: 0;
}

html>body #header .main-nav ul.main {
height: auto;
margin: 8px 0 0 91px;
}

#header .main-nav ul.main li {
float: left;
min-height: 75px;
height: 75px;
font-size:1em;
text-align: center;
}

html>body #header .main-nav ul.main li {
height: auto;
}

#header .main-nav ul.main li.last {
width: 91px;
}

#header .main-nav ul.main li a,
#header .main-nav ul.main li span {
display: block;
font-size: 1.3em;
line-height: 1.3;
padding: 43px 5px 0 5px;
width: 87px;
overflow: hidden;
}

html>body #header .main-nav ul.main li a,
html>body #header .main-nav ul.main li span {
height: auto;	
}

#header .main-nav ul.extra {
float: right;
background: url(../images/extra-nav-bg.png) no-repeat top left;
margin: 0 6px 0 0;
padding: 8px 0 0 0;
width: 184px;
}

html>body #header .main-nav ul.extra {
margin-bottom: -5px;
}

#header .main-nav ul.extra li {
padding: 0 3px;
line-height: 1.1;
font-size:1em;
}

#header .main-nav ul.extra li a:link,
#header .main-nav ul.extra li a:visited,
#header .main-nav ul.extra li span {
display: block;
font-size: 1.1em;
height: 1%;
padding: 0 6px 0 0;
text-align: right;
}

html>body #header .main-nav ul.extra li a:link,
html>body #header .main-nav ul.extra li a:visited,
html>body #header .main-nav ul.extra li span {
height: auto;
}

#header .main-nav ul.extra li.sitemap a,
#header .main-nav ul.extra li.sitemap span {
border-top: 1px solid #1a1a1a;
margin-top: 6px;
padding-top: 6px;
}

#header .main-nav ul.extra li.last {
background: #434343 url(../images/extra-nav-bg.png) no-repeat bottom left;
padding-bottom: 10px;
}

/*************************************************
=Boxes
**************************************************/
.box {
background-color:#f8f8f8;
border:1px solid #ebeaea;
clear: both;
}

.box .inner {
background-repeat: no-repeat;
background-position: bottom left;
}

.frontpage .box {
margin-bottom: 16px;
padding-top: 2px;
}

.frontpage .box .inner {
padding: 0 7px 7px 11px;
}

.frontpage .column2 .box {
margin-bottom: 16px;
padding-top: 2px;
}

.frontpage .column2 .box .inner {
padding: 0 7px 7px 11px;
}

.content-nav .box {
background-color:#fff;
border:0px;
margin: 0 0 16px 0;
padding-top: 0;
}

.content-nav .box .inner {
/*padding: 0 7px 7px 11px;*/
}

.content .box {
border: 1px solid #ccc;
margin: 0 0 16px 0;
padding-top: 2px;
}

.content .box .inner {
padding: 0 7px 7px 11px;
}

.content .column1 .box,
.content .column2 .box {
margin-bottom: 16px;
padding-top: 2px;
}

.content .column1 .box .inner,
.content .column2 .box .inner {
padding: 0 7px 15px 11px;
}

.box h2 {
font-size: 2.6em;
line-height: 1;
/*KG:padding: 4px 3px 5px 6px;*/
padding:4px 0 10px;
}

.box h1 {
background: url(../images/line.gif) repeat-x bottom left !important;
border: 0 !important;
color: #262626 !important;
font-size: 1.8em !important;
font-weight: normal !important;
line-height: 1!important;
margin: 0 3px;
padding: 4px 0 5px 7px !important;
}

.frontpage .column2 .box h2 {
color: #5b8f22 !important;
font-size: 2.0em !important;
margin: -2px 7px 0 11px;
padding-bottom: 1px !important;
line-height: 1.5 !important;
}

.secondary-content .box h2 {
}


.content .column1 .box a:link, 
.content .column1 .box a:visited,
.content .column2 .box a:link,
.content .column2 .box a:visited {
font-size: 1em;
}

.content ul {
line-height: 1.4;
}

.content ul.arrowlist li {
background: url(../images/arrow-grey.gif) no-repeat 0 5px;
padding-left: 10px;
}

.secondary-content .box {
margin-bottom: 16px;
padding-top: 15px;
}

.secondary-content .box .inner {
padding: 0 6px 7px;
}
.leftBanner
{
	padding: 0 7px 7px 0;
}

.leftBanner2
{
	padding: 10px 7px 7px 0;
	*padding: 8px 7px 7px 0;
}

/*************************************************
=Tables
**************************************************/
table {
  font-size: 1.3em;  
  line-height: 1.385em;
  table-layout:fixed;
  overflow: hidden;
}

table caption {
color: #333;
font-size: 1.4em;
font-weight: normal;
line-height: 1.4;
padding: 0;
}
.thPublikasjon {
color: #333;
font-size: 1.4em;
font-weight: normal;
line-height: 1.4;
padding: 0;
}

table td {
/*  overflow: hidden;*/
  vertical-align: top;
}

table .right {
  float: none;
  text-align: right;
}

table td.tel { white-space:nowrap; }

table li { font-size:1em; }

.content table {
border-collapse: collapse;
font-size: 1.2em;
margin-bottom: 20px;
}

.content table th {
border-bottom: 1px solid #c0c0c0;
color: #666;
}

.content table th.first {
padding-left: 8px;	
}

.content table td {
border-bottom: 1px solid #c0c0c0;
color: #333;
padding: 10px 0 0px 0;
}

.content table tr.last td {
border: 0;
}

.content table.contact {
margin-bottom: 10px;
border: 0;
width: 100%;
}

.content table.contact th {
border-right: 0;
}

.content table.contact td {
border: 0;
border-bottom: 1px solid #efefef;
padding: 15px 0 12px 0;
}

.content table.list caption {
text-align: left;
}

.content table.list {
border: 0;
line-height: 1.2;
margin-bottom: 10px;
width: 100%;
}

.content table.list th {
    border-bottom: 0 none;
    border-right: 0 none;
    padding-bottom: 3px;
    text-align: left;
}

.content table.list td {
border: 0;
padding: 0 0 5px 0;
}

table.bold {
font-weight: bold;
border-top: 1px solid #c0c0c0 !important;	
margin-top: 8px;
}

table.bold th {
font-weight: bold;
background: #f6f6f6 url(../images/line.gif) repeat-x top left;
border-top: 1px solid #fff;	
border-bottom: 1px solid #c0c0c0;
padding: 2px 2px 0 2px;
}

table.bold td {
background-color: #fff;
border-top: 1px solid #fff;
border-bottom: 1px solid #c0c0c0;
padding: 0 2px;
font-weight: bold;
}

table#id_matrix,
table#id_matrix td,
table#id_matrix th {
border: 0;
}

/*************************************************
=Search result
**************************************************/
.searchresult p {
font-size: 0.95em;
line-height: 1;
margin: 3px 0 0 0;
}

.searchtips p:last-child{
border: 0;
}
/*************************************************
=Pager
**************************************************/
.pager { width:100%; overflow:hidden; margin-bottom:40px; padding-top:20px; border-top:1px solid #bcbcbc; }
.pager ul { float:right; }
.pager li { float:left; }
.pager a:link,
.pager a:visited,
 .pager span { display:block; float:left; padding:1px 6px; color:#444; font-size:1.077em; font-weight:bold; line-height:1.4em; }
.pager a:hover { text-decoration:none; }
.pager span { background-color:#fecb00; border-bottom:0; }
.pager .prev { padding-right:10px; }
.pager .prev a:link,
 .pager .prev a:visited { background:url(../images/arrows.png) no-repeat right -134px; padding-right:20px; font-weight:normal; }
.pager .next { padding-left:10px; }
.pager .next a:link,
 .pager .next a:visited { background:url(../images/arrows.png) no-repeat left 6px; padding-left:20px; font-weight:normal; }

.methodPager { float:left; width:100%; overflow:hidden; margin-bottom:30px; padding:10px 0 4px; border-top:1px solid #bcbcbc; border-bottom:1px solid #bcbcbc; }
.methodPager a { display:block; padding:13px 0 20px; font-size:1.3em; background:url(../images/arrowsPrevNext.png) no-repeat left top; }
.methodPager a.prev { float:left; padding-left:50px; }
.methodPager a.next { float:right; padding-right:50px; background-position:right top; }

/*************************************************
=Intro
**************************************************/
div.intro.last {
margin-bottom: 20px;
}

div.intro h2,
.frontpage div.intro h3,
div.intro h3.main {
color: #333;
font-size: 1.5em;
font-weight: normal;
line-height: 1.3;	
text-transform: none;
}

div.intro h2.picturename {
font-size: 1.2em;
}

div.intro h2 a:link,
div.intro h2 a:visited,
div.intro h3 a:link,
div.intro h3 a:visited {
color: #333;
text-decoration: none;
}

div.intro h2 a:focus,
div.intro h2 a:active,
div.intro h2 a:hover,
div.intro h3 a:focus,
div.intro h3 a:active,
div.intro h3 a:hover {
color: #5b8f22;
font-weight: normal;
}

div.intro h3{
color: #666;
/*font-size: 1.1em;*/
font-size: 1.4em !important; /*Denne settes til 1.4em fordi h3 overskriftene skal være likt som de er på sitemap og tjenesteoversikt*/
font-weight: normal;
line-height: 1.1;
/*text-transform: uppercase;*/
}

div.intro .date {
color: #666;
font-size: 1.1em;
line-height: 1.1;
}

.dateItalic{
	font-style:italic;
	font-size: 1.2em;
}

div.intro p {
color: #333;
font-size: 1.2em;
line-height: 1.2;
margin: 0;
padding: 0;
}

div.intro a {
font-size: 1.2em;
line-height: 1.2;
}
div.intro li a { font-size:1em; }

div.intro p a {
font-size: 1em;
}

div.intro ul {
font-size: 1em;
line-height: 1.2;
list-style-type:square;
}

div.intro ul li { margin-left:15px; }

div.intro ul li ul{
font-size: 1em;
line-height: 1;
margin: 0 0 0 10px;
}

div.intro ul li ul li a:link,
div.intro ul li ul li a:visited {
}

.introservice a:link,
.introservice a:visited{
}
/*************************************************
=Intro lists
**************************************************/
.introlist1 {
margin-bottom: 20px;
}

.introlist1 .intro {
	
}

.introlist1 .intro p{
padding-bottom: 10px;
}

.introlist1 .intro img {
float: left;
margin-right: 11px;
}

.introlist1 .intro ul {
font-size: 1.2em;
margin: 8px 0 8px 15px;
float: left;
}

.introlist1 .intro ul li {
}

.introlist1 .intro ul.simplelist {
margin: 0;
float: none;
}

.introlist1 .pager-wrapper {
clear: left;
float: left;
font-size: 1em;
margin-right: 11px;
width: 277px;
}

.introlist1 .intro .pager-wrapper.pager ul {
clear: both;
float: right;
font-size: 1.1em;
border: 0;
margin: 0;
padding: 7px 0 0 0;
width: auto;
}

.introlist1 .intro .pager-wrapper.pager ul li {
background-image: none;
padding-left: 0;
}

.introlist1 .intro .pager-wrapper.pager ul li.prev,
.introlist1 .intro .pager-wrapper.pager ul li.next {
margin: 0;
}

.introlist1 .intro .pager-wrapper.pager ul li.prev img,
.introlist1 .intro .pager-wrapper.pager ul li.next img {
border: 0;
float: none;
margin: 0;
padding: 4px 8px;
}

.introlist1 .intro .pager-wrapper.pager ul li.prev a:link,
.introlist1 .intro .pager-wrapper.pager ul li.prev a:visited,
.introlist1 .intro .pager-wrapper.pager ul li.next a:link,
.introlist1 .intro .pager-wrapper.pager ul li.next a:visited {
background-image: none;
padding: 0;
}

.introlist1 .intro .pager-wrapper.pager ul li.prev a:focus,
.introlist1 .intro .pager-wrapper.pager ul li.prev a:active,
.introlist1 .intro .pager-wrapper.pager ul li.prev a:hover,
.introlist1 .intro .pager-wrapper.pager ul li.next a:focus,
.introlist1 .intro .pager-wrapper.pager ul li.next a:active,
.introlist1 .intro .pager-wrapper.pager ul li.next a:hover {
background: #fff;
}

.introlist1 .intro .pager-wrapper.pager ul li.next {
float: none;
}

.introlist1 .intro .pager-wrapper.pager ul li ol li a:link,
.introlist1 .intro .pager-wrapper.pager ul li ol li a:visited {
font-size: 1em;
}

.introlist2 {
border-bottom: 1px solid #c0c0c0;
margin-bottom: 15px;
width: 576px;
}

.introlist2 .intro {
float: left;
margin-right: 10px;
overflow: hidden;
padding-bottom: 13px;
width: 182px;
}

.minhlist150, .minhlist300, minhlist200, profilelist {
border: 0;
}

.minhlist150 .intro {
min-height: 214px;
height: 150px;
}

html>body .minhlist150 .intro {
height: auto;
min-height:0;
}

.minhlist200 .intro {
min-height: 200px;
height: 200px;
}

html>body .minhlist200 .intro {
height: auto;
}

.minhlist300 .intro {
min-height: 316px;
height: 316px;
}

html>body .minhlist300 .intro {
height: auto;
}
.profilelist .intro {
min-height: 350px;
height: 350px;
}

html>body .profilelist .intro {
height: auto;
}

.introlist2 .intro h2 {
margin-top: 5px;
margin-bottom:3px;
}
.introlist2 .intro h3 { margin-bottom:2px; }

.introlist2 ul {
margin-bottom: 10px;
}

div.introlist2 ul li {
font-size: 1.3em;
list-style:none;
margin-left:0;
}
.introlist2 ul li a {
font-size:1.077em;
}

.introlist2 ul li ul {
font-size: 1.2em !important;
}

.sitemap.introlist2 ul {
font-size: 1em !important;
margin-bottom: 10px;
}

.sitemap.introlist2 ul li li {
	font-size:1em;
}

.sitemap.introlist2 .intro ul a {
display: block;
background-position: 0 6px;
}

.introlist2.last,
.introlist2:last-child {
border: 0;
}

.introlist3 {
border-bottom: 1px solid #c0c0c0;
margin-bottom: 10px;
padding-bottom: 29px;
width: 576px;
}

.introlist3 .intro {
float: left;
margin-right: 10px;
width: 182px;
}

.introlist4 .intro {
clear: both;
margin-bottom: 0;
}

.introlist4 .intro.last,
.introlist4 .intro:last-child {
border-bottom: 0;
}

.introlist4 .intro img {
float: left;
margin: 0 11px 11px 0;
}

.introlist5 {
margin-bottom: 15px;
width: 576px;
}

.introlist5 .intro {
float: left;
padding: 0 10px 20px 8px;
width: 270px;
}

.introlist5 .intro img {
float: left;
margin: 0 11px 11px 0;
}

.imagelist {
margin-bottom: 20px;
}

.imagelist .intro {
float: left;
margin-right: 10px;
width: 182px;
}

.imagelist .intro.last {
margin-right: 0;
}

.imagelist .intro h2 {
margin-top: 5px;
}

.imagelist ul {
font-size: 1.2em;
margin-top: 3px;
}

.datelistitem {
border-bottom: 1px solid #c0c0c0;
font-size: 1em;
line-height: 1.4;
padding: 10px 0;
}

.datelistitem:last-child,
.datelistitem.last {
border: 0;
}

.datelistitem div {
float: left;
font-size: 1.2em;
width: 86px;
}

.datelistitem ul {
float: left;
width: 472px;
}

.column1 .intro,
.column2 .intro {
margin-bottom: 20px;
}

.column1 .intro img,
.column2 .intro img {
float: left;
margin: 0 10px 5px 0;
}

.column1 .intro h2,
.column1 .intro h3,
.column2 .intro h2,
.column2 .intro h3 {
border: 0;
clear: none;
margin: 0;
padding: 0;
}

.column1 .intro h2,
.column2 .intro h2 {
font-size: 1.5em;
}


.mediaList { float:left; width:558px; margin:0 18px 0 0; padding:20px 0 0; border-top:1px solid #bcbcbc; }
.mediaList.fullwidth { width: 960px;}
.mediaList h2, .listWork h2 { margin-bottom:15px; font-size:2.6em; }
.mediaList .listItem { float:left; width:174px; padding-left:18px; }
.mediaList .itemCollection .listItem:first-child { padding-left:0; }
.mediaList .listItem h3 { margin-bottom:8px; font-size:1.6em; }
.mediaList .listItem h3 a:link,
.mediaList .listItem h3 a:visited { text-decoration:none; line-height:1.25em; }
.mediaList .listItem img { width:170px; height:auto; margin-bottom:12px; border:2px solid #fff; }
.mediaList .listItem p,
.mediaList .listItem .date { margin:0; font-size:1.3em; line-height:1.385em; }
.mediaList .listItem p { margin-bottom:5px; }
.mediaList .listItem .more { font-size:1em; line-height:1.385em; }
.mediaList .button { float:left; clear:both; margin-top:30px; }

.videoBooth { margin-left:10px; padding:25px 0; overflow:hidden; border-top:1px solid #BCBCBC;float: left; }
.videoBooth .videoFrame { float:left; }
.videoBooth .videoFrame:first-child { margin-right:18px; }

.fullscreen .mediaList { width:750px; margin-left:10px; }

.mediaListVertical { width:100%; border-top:0; }
.mediaListVertical .listItem { width:100%; overflow:hidden; margin-bottom:20px; padding:0; }
.mediaListVertical .listItem h2 { font-size:1.6em; margin-bottom:10px; }
.mediaListVertical .listItem h3 { font-style:italic; margin-bottom:5px; font-size:1.3em; font-weight:normal; }
.mediaListVertical .listItem h2 a,
.mediaListVertical .listItem h2 a:visited { text-decoration:none; color:#4d4d4d; }
.mediaListVertical .listItem img { float:left; margin-right:18px; }

.featureItems { width:100%; overflow:hidden; padding-bottom:25px;float: left; }
.featureItems .item { float:left; width:174px; padding-left:18px; }
.featureItems .item:first-child { padding-left:0; }
.featureItems .item h2 { margin-bottom:8px; font-size:1.6em; line-height:1.25em; }
.featureItems .item h2 a:link,
.featureItems .item h2 a:visited { text-decoration:none; color:#444; }
.featureItems .item h2 a:hover { color:#5b8f22; }
.featureItems .item img { width:170px; height:auto; margin-bottom:12px; border:2px solid #fff; }
.featureItems .item p { margin-bottom:5px; font-size:1.3em; line-height:1.385em; }

.fullscreen .featureItems .item { width:208px; margin-left:5px; padding:15px 20px 20px; background:#f8f8f8; border:1px solid #ebeaea; }
.fullscreen .featureItems .item:first-child { margin-left:0; }

.listWork h2 { padding-left:5px; }
.listWork h3 { clear:both; padding:20px 0 0 5px; font-size:1.6em; line-height:1.3em; }
.listWork blockquote { float:left; width:220px; margin-right:10px; padding-left:5px; color:#808080; font-size:1.4em; font-weight:bold; font-style:italic; line-height:1.286em; }
.listWork blockquote:before { content:'"'; }
.listWork blockquote:after { content:'"'; }
.listWork .illustration { float:left; width:141px; overflow:hidden; }
.listWork .illustration img { width:141px; height:auto; }
.listWork iframe { width:100%; margin:0 0 20px; }
.listWork .button { float:left; margin-right:20px; }
.listWork .button a { text-decoration:none; color:#444; }
.listWork .button a:hover { color:inherit; }
.listWork .more { background:none; float:right; padding-top:9px; }
.listWork .more a { font-size:1.077em; }


/*************************************************
=Frontpage
**************************************************/
.frontpage .listWork { padding:20px 0 0; }

.newslist1 div.intro {
clear: both;
margin: 0;
padding: 0 0 10px 8px;
}

.newslist1 div.intro img {
float: left;
margin-right: 10px;
}

.frontpage .newslist2 {
margin-bottom: 10px;
}

.frontpage .newslist2 div.intro {
float: left;
margin-right: 10px;
width: 182px;
}

.frontpage .newslist2 div.intro.last {
margin-right: 0;
}

.frontpage .newslist2 .intro h3 {
margin-top: 5px;
}

.frontpage .column2 h3 {
color: #333;
font-size: 1.8em;
font-weight: normal;
line-height: 1.3;
margin: 10px 0 3px 0;	
text-transform: none;	
}

.frontpage .column2 .box img {
float: left;
margin: 6px 0 9px 6px;
}

.frontpage .column2 .box iframe {
float: left;
padding: 0 0 10px 8px;
margin: 0;
}

.frontpage .column2 .box .more {
border: 0;
clear: both;
}

.frontpage .column2 .box ul li {
border-bottom: 1px solid #dcdcdc;
}

.frontpage .column2 .box ul li.first {
border-top: 1px solid #dcdcdc;
}

.frontpage .column2 .box ul li.last {
border-bottom: 1px solid #c0c0c0;
border-top: 1px solid #c0c0c0;
margin: 15px 0 4px 0;
}

.frontpage .column2 .box ul li a:link,
.frontpage .column2 .box ul li a:visited {
background: url(../images/arrow-grey.gif) no-repeat 5px center;
color: #666;
display: block;
font-size: 1.2em;
line-height: 1;
padding: 5px 0 4px 15px;
text-decoration: none;
}

.frontpage .column2 .box ul li a:focus,
.frontpage .column2 .box ul li a:active,
.frontpage .column2 .box ul li a:hover {
background-color: #fff;	
}

.frontpage .slides {
position: relative;
}

.frontpage .slides ul {
float: left;
margin: 10px 28px 8px 7px;
width: 137px;
}

html>body .frontpage .slides ul {
margin: 10px 28px 8px 14px;
}

.frontpage .slides ul li {
background: url(../images/slide-menuitem.gif) no-repeat top left;
height: 40px;
min-height: 40px;
padding-top: 4px;
}

html>body .frontpage .slides ul li {
height: auto;
}

.frontpage .slides ul li a:link,
.frontpage .slides ul li a:visited {
background: url(../images/slide-menuitem.gif) no-repeat bottom left;
color: #636363;
display: block;
font-size: 1.4em;
height: 23px;
line-height: 1.1;
min-height: 23px;
padding: 8px 13px 11px 13px;
text-decoration: none;
}

html>body .frontpage .slides ul li a:link,
html>body .frontpage .slides ul li a:visited {
height: auto;
}

.frontpage .slides ul li a:focus,
.frontpage .slides ul li a:active,
.frontpage .slides ul li a:hover {
color: #5b8f22;
}

.frontpage .slides ul li.selected,
.frontpage .slides ul li.selected a:link,
.frontpage .slides ul li.selected a:visited {
color: #5b8f22;
background-image: none;
}

.frontpage .slides div {
float: right;
width: 570px;
position: absolute;
top: 0;
left: 200px;
}

.frontpage .slides img {
border: 2px solid #fff;
float: left;
margin: 10px 20px 10px 0;
}

.frontpage .slides h2 {
background-image: none !important;
font-size: 2.0em !important;
margin: 10px 0 4px 0 !important;
}

.frontpage .slides h2 a:link,
.frontpage .slides h2 a:visited {
background-color: #fff;
color: #5b8f22;
font-weight: normal;
text-decoration: none;
}

.frontpage .slides h2 a:focus,
.frontpage .slides h2 a:active,
.frontpage .slides h2 a:hover {
text-decoration: underline;
}

.frontpage .slides p {
color: #262626;
font-size: 1.2em;
line-height: 1.2;
}

.frontpage .slides a.showall:link,
.frontpage .slides a.showall:visited {
border-bottom: 1px solid #c0c0c0;
border-top: 1px solid #c0c0c0;
color: #666;
display: block;
float: right;
font-size: 1.2em;
line-height: 2.0em;
margin: 10px 4px 10px 0;
padding: 0 7px;
width: 252px;
}

.frontpage .slides a.showall:focus,
.frontpage .slides a.showall:active,
.frontpage .slides a.showall:hover {
color: #5b8f22;
}

.frontpage .calculator {
overflow: hidden;
padding: 0 6px 10px 10px;
width: 374px;
}

.frontpage .calculator img {
border: 0;
}

/* INVESTOR */
/*stock ticker*/
.investor { width:100%; overflow:hidden; }
.investor h2 { margin:10px 10px 0; border-bottom:1px solid #d4d4d4; }
.investor ul { padding:10px; }
.investor .stockTicker { float:left; }
.investor li { float:left; min-height:25px; padding:10px 0 3px; font-size:1.3em; }
.investor .stockTicker li { margin-right:10px; padding-right:50px; }
.investor .stockTicker li:first-child,
 .investor .quickLinks li { padding-top:12px; }
.investor .stockTicker span { font-weight:bold; font-style:italic; }
.investor .stockTicker span span { padding:0 !important; font-weight:normal; background:none !important; }
.investor .stockTicker .up,
 .investor .stockTicker .down,
 .investor .stockTicker .noChange { padding-left:20px; border-left:1px solid #d4d4d4; }
.investor .stockTicker .up span,
 .investor .stockTicker .down span,
 .investor .stockTicker .noChange span { display:inline-block; min-height:17px; padding:2px 25px 0 0; background:url(../images/stockStatus.png) no-repeat right top; }
.investor .stockTicker .down span { background-position:right -181px; }
.investor .stockTicker .noChange span { background-position:right -91px; }
.investor .stockTicker .up span span { color:#4e8011; }
.investor .stockTicker .down span span { color:#910007; }
.investor .quickLinks { float:right; }
.investor .quickLinks li { padding-left:20px; }
.investor .quickLinks li:first-child { border-left:1px solid #d4d4d4; }
.investor .quickLinks a { display:block; padding-left:16px; background:url(../images/arrows.png) no-repeat left 2px; }

.investorInformation .column { float:left; width:48.5%; }
.investorInformation .column1 { margin-right:3%; }
.investorInformation iframe { margin-bottom:5px; }
.investorInformation .box h2,
.content .box h2 { padding:8px 0 10px 9px; font-size:2em; }

/*************************************************
=Project page
**************************************************/
table.projectdetails {
border: 0;
margin: 5px 0;
padding: 0;
}

table.projectdetails th {
border: 0;
margin: 0;
padding: 2px 8px;
vertical-align: top;
width: 111px;
}

table.projectdetails td {
border: 0;
margin: 0;
padding: 2px 8px;
vertical-align: top;
}

.location {
padding: 10px 0 30px;
width: 556px;
}

.location .text {
float: left;
width: 334px;
}

.location .text .related {
float: left;
padding-right: 10px;
width: 140px;
}

.location .text .contactinfo {
float: left;
width: 150px;
}

.introlist2 ul .mail a:link {
font-size: 1em !important;
}

.location .text .introlist2 {
border-bottom: 0;
width: auto;
}

.location .text .intro {
margin-right: 0;
padding-bottom:0;
}

.location .text .intro h2 {
margin-top: 0;
}

.location .mapimage{
float: left;
width: 549px;
}

/*************************************************
=Article
**************************************************/
.article {
	width:100%;
	margin-bottom:30px;
clear: both;
float:left;
}
.fullscreen .article { padding-left:10px; }

.article-wide {
margin-top:15px;
padding-left: 8px;
}

.article img {
float: left;
margin: 0 10px 10px 0;
border:2px solid #fff;
}

p img, .article p img, .intro p img {
float: none;
margin: 0;
}

.article.leftimage img {
float: left;
margin: 0 10px 5px 0;
}

.article h2 {
font-size: 1.7em;
line-height:1.1em;
margin-bottom: 14px;
}

.article h3 {
font-size: 1.4em;
}

.article p {
font-size: 1.3em;
line-height: 1.4em;
padding-bottom: 10px;
}

.article-wide p {
font-size: 1.2em;  
line-height: 1.4;
padding-bottom: 10px;
padding-left:200px;
}

p.intro {
	font-size:1.8em;
	margin-bottom:8px;
}

.article p em {
font-weight: normal;
font-style: italic;
}

.article ul {
margin: 0 0 8px 15px;
clear:both;
}

.article ul li {
	list-style:square;
}

.article ul li h3 { font-size:1.077em; }

.article ol {
margin: 0 0 8px 24px;
}

html>body .article ol {
margin: 0 0 8px 20px;
}

.article table {
clear: both;
}

.article table caption {
color: #333;
font-size: 1.4em;
font-weight: normal;
line-height: 1.8;
padding: 0;
margin-bottom: 1px;
}

.article table th {
background: #f6f6f6 url(../images/line.gif) repeat-x top left;
border-top: 1px solid #fff;
border-bottom: 1px solid #c0c0c0;
padding: 2px 2px 0 2px;
}

.article table td {
background-color: #fff;
border-bottom: 0px solid #c0c0c0;
border-top: 1px solid #fff;
padding: 0 2px;
}

.article .slides{
float: right;
width: 275px;
position: relative;
height:182px;
padding: 0 0 5px 5px;
}

.article .slides div {
width: 275px;
position: absolute;
top: 1;
right: 0;
overflow: hidden;
}

.article .slides .slide img{
display: block;
margin: 0;
padding:0px;
width: 275px;

}

.imageWithText { float:left; margin:0 10px 6px 0; border:2px solid #fff; background:#fff; }
.imageWithText img,
.article .imageWithText img { border:0; margin-bottom:0; }
.imageWithText span { display:block; width:100%; overflow:hidden; font-size:1.3em; font-style:italic; padding:5px 0; }
.tabs a .imageWithText span { font-size:1em; }

.article #SlideShow {

}
/*************************************************
=Download
**************************************************/
.download {
color: #333;
background-color: #fff;
border-bottom: 1px solid #c0c0c0;
margin-top: 10px;
padding-bottom: 5px;
}

.download h2 {
border-bottom: 1px solid #c0c0c0;
border-top: 1px solid #c0c0c0;
font-size: 1.4em;
line-height: 2.0;
}

.download p {
font-size: 1.1em;
line-height: 1.4;
padding-top: 3px;
}

.download ul li {
font-size: 1.2em;
line-height: 2;
}

.download ul li a:link,
.download ul li a:visited {
background: url(../images/arrow-green.gif) no-repeat 4px center;
padding-left: 14px;
}

.download ul li a:focus,
.download ul li a:active,
.download ul li a:hover {
background: #5b8f22 url(../images/arrow-white.gif) no-repeat 4px center;
}

/*************************************************
=Stock
**************************************************/
.stock table {
border: 0;
width: 100%;
}

.stock table caption {
color: #333;
font-size: 1.4em;
font-weight: normal;
line-height: 1.8;
padding: 0;
margin-bottom: 1px;
}

.stock table th {
background: #f6f6f6 url(../images/line.gif) repeat-x top left;
border-top: 1px solid #fff;
border-bottom: 1px solid #c0c0c0;
border-right: 0;
padding: 2px 2px 0 2px;
text-align: right;
}

.stock table td {
background-color: #fff;
border-top: 1px solid #fff;
border-bottom: 1px solid #c0c0c0;
border-right: 0;
padding: 0 2px;
text-align: right;
}

.stock fieldset {
margin: 10px 0;
}

.stock ul {
margin-bottom: 15px;
}

.headerIFrame{
color:#000000 !important;
font-size:1.8em !important;
font-weight:normal !important;
line-height:1 !important;
margin:0 3px;
}

/*************************************************
=Manamind IR Aksje leverandør (overskriver existerende css hos Manamind)
**************************************************/

.manamind table.vertical td {
background: #fbfbfb url(../images/body-bg.png) repeat-y 50% 0;
}

/*Link hover farge*/
.manamind a:hover {
color:#5B8F22;
}

.manamind a:link, .manamind a:visited{
color:#666666;
}

.manamind table.vertical tr.first th {
background:#FFFFFF none repeat scroll 0 0;
color:#262626;
font-size:1.2em;
font-weight:normal;
}

.companyDisclosuresArchive
{
	background: none;
	border: none !important;
}

.manamind table.vertical td{
background:transparent none repeat scroll 0 0;
}

.manamind table.vertical{
border-collapse:collapse;
}

.manamind .orderDepth td.askBar div div {
background-color: #9a4c43; height: 8px;
}

.manamind .orderDepth td.bidBar div div {
background-color: #435c8a; height: 8px;
}

.graphInteractive{
background:none;
}

.companyDisclosuresArchive .vertical{
background: #fbfbfb url(../images/body-bg.png) repeat-y 50% 0;
}


.manamind table.vertical tr.first th,
.manamind table.vertical tr.middle td.first, 
.manamind table.vertical tr.middle td.middle, 
.manamind table.vertical tr.last td.first, 
.manamind table.vertical tr.last td.middle {
border-bottom:1px solid #C0C0C0;
background: #ffffff;
}

.manamind table.vertical tr.middle th,
.manamind table.vertical tr.middle td,
.manamind table.vertical tr.last th, 
.manamind table.vertical tr.last td{ 
border-bottom:1px solid #C0C0C0;
border-top:1px solid #C0C0C0;
border-left:none !important;
border-right:none !important;
background: #ffffff;
}

.manamind .companyDisclosures table.vertical tr.first td.s,
.manamind .companyDisclosures table.vertical tr.middle th,
.manamind .companyDisclosures table.vertical tr.middle td.d,
.manamind .companyDisclosures table.vertical tr.middle td.s,
.manamind .companyDisclosures table.vertical tr.last td.d, 
.manamind .companyDisclosures table.vertical tr.last td.s{ 
border:none !important;
background: #f8f8f8;
}

.component_chartMenu dl.basic dt {
color:#000000;
}

.manamind .component_chartBody {
float:left;
margin-top:5px;
width:442px;
}

.component_chartMenu dl.basic dt {
color:black!important;
}

.manamind .component_chartMenu dl.component dt.title {
color:black;
font-size:11px;
padding-bottom:3px;
padding-top:4px;
}

.manamind .component_chartMenu select {
margin-bottom:3px;
width:118px;
}

.component_chartMenu {
float:left;
font-family:Verdana;	
font-size:11px;
width:130px!important;
}

#verticalIFrame{
height:235px;
width:566px;
float:left;
float:left;
}

.manamind .peerGroupBenchmark tr.first th.s {
text-align:left;
font-size:1.6em !important;
font-weight:normal !important;
line-height:1 !important;
}

.manamind .companyDisclosures table.vertical{
	background:#f8f8f8;
border: none !important;
}

.companyDisclosures tr td.d{
width:80px;
max-width:80px !important;
height:40px;
max-height:40px;
}

.companyDisclosures tr td.s{
width:140px;
max-width:140px !important;
height:40px;
max-height:40px !important;
}

#borderBox1{
border:1px solid #C0C0C0;
float:left;
height:185px;
margin-left:30px;
width:240px;
}

#borderBox2{	
border:1px solid #C0C0C0;
float:left;
height:185px;
margin-left:30px;
width:240px;
}

.manamind .companyDisclosuresArchive .horizontal{
*margin-left: -220px;
}

.manamind .companyDisclosuresArchive table.vertical tr.first td.d,
.manamind .companyDisclosuresArchive table.vertical tr.first td.s{ 
border:none !important;
background: #ffffff;
}

/*************************************************
=Reportlist
**************************************************/
.reportlist .introlist1 ul {
font-size: 1em;
margin: 0;
}

.reportlist .introlist4 .intro {
padding: 0 8px 10px 8px;
}

.introlist4 .intro p {
padding: 0 0 8px 0;
}

.introlist4 .intro ul li {
display: inline;
padding: 0 8px 0 0;
margin-left:0;
}


/*************************************************
=Tabs
**************************************************/
#jqTabTriggers { width:534px; float:left; clear:both; margin-bottom:29px; padding:0 10px; background:#c0c0c0; }
#jqTabTriggers table { float:left; width:auto; margin-bottom:0; background:#c0c0c0; border-collapse:collapse; table-layout:auto; }
#jqTabTriggers td { vertical-align:top; height:39px; padding:0 10px 0 6px; background:url(../Images/tabArrowNext.gif) no-repeat 100% 50%; font-weight:bold; border-bottom:0px; cursor:pointer; }
#jqTabTriggers td.selected { background:#fff url(../Images/tabArrowNextSelected.png) no-repeat 100% 50%; cursor:auto; }
#jqTabTriggers td.sidekick { background-image:url(../images/tabArrowNextSelectedPrevious.gif); }
#jqTabTriggers td div { position:relative; padding-right:3px; }
#jqTabTriggers td span { float:left; padding:6px 0 6px 24px; line-height:1em; }
#jqTabTriggers td span.noCounter { padding-left:0; }
#jqTabTriggers td span.counter { position:absolute; left:0; top:3px; font-size:32px; margin-left:0; padding:0; color:#fff; line-height:1em; vertical-align:top; width:24px; }
#jqTabTriggers td.selected span.counter { color:#4d4d4d; }

.mediaBlock { width:100%; overflow:hidden; clear:both; margin-bottom:20px; }
.mediaBlock h2 { margin-bottom:3px; }
.mediaBlock img { float:left; margin-right:10px; }
.mediaBlock .article { clear:none; float:none; margin-bottom:0; width:auto; overflow:hidden; }
.mediaBlock p.intro { font-weight:normal; font-size:1.3em; padding-bottom:0; }
.mediaBlock .nextTab { float:left; width:100%; text-align:right; }
.mediaBlock p a.more { font-size:1em; }

.mediaBlockPressList { width:48%; float:left; clear:none; margin-bottom:30px; }
.mbpl1 { margin-right:4%; }
.mediaBlockPressList h2 { margin-bottom:5px; }
.mediaBlockPressList h3 { margin-bottom:3px; }
.mediaBlockPressList img { margin-bottom:5px; }
.mediaBlockPressList .intro p { line-height:1.333; }

.hiddenTab { position:absolute; top:-99999em; left:-99999em; }

.jqTabs { position:relative; float:left; background:#f8f8f8; padding:1px; margin-bottom:50px; border:1px solid #ebeaea; }
.jqTabs .mediaBlock { overflow:visible; margin-bottom:0; }
.jqTabs .mediaBlock .intro { margin-bottom:20px; }
.jqTabs .mediaBlock .video { margin-bottom:0; }
.jqTabs .mediaBlock .video .imageWithText div { font-size:12px; font-style:italic; text-align:left; color:#000; }
.jqTabs img { margin:0; }
.jqTabs .article { margin-bottom:20px; padding-right:10px; }
.jqTabs .nextTab { padding:5px 0 6px; font-size:1.3em; background:#c0c0c0; }
.jqTabs .nextTab span { position:relative; display:block; float:right; padding-right:68px; }
.jqTabs .nextTab span span { position:absolute; width:41px; height:41px; right:15px; top:-13px; padding-right:0; background:url(../Images/arrowsPrevNext.png) no-repeat right top; cursor:pointer; }
.jqTabs .pager { display:none; }
.jqTabs .intro { padding:0 10px; }

.tabs a.video:link,
 .tabs a.video:visited { position:relative; float:left; background:none; width:auto; height:auto; padding:0; }
.tabs a.video .playTrigger { position:absolute; left:50%; top:50%; margin:-30px 0 0 -30px; border:0; z-index:1000; }

.jqTabs .methodSticker { position:absolute; bottom:-26px; left:3px; }
.jqTabs .methodSticker img { margin:0; border:0; }

/*************************************************
=Secondary content
**************************************************/
.secondary-content h3 {
color: #666;
font-size: 1.2em;
line-height: 1.5;
font-weight: bold;
/*KG:padding: 0 0 0 10px;*/
text-transform: uppercase;
}

.secondary-content h3.first {
border-top: none;
}

.secondary-content h3 a:link,
.secondary-content h3 a:focus,
.secondary-content h3 a:active,
.secondary-content h3 a:visited {
color: #666;
display: block;
text-decoration: none;
}

.secondary-content h3 a:hover {
color: #5b8f22;
}

.secondary-content table {
table-layout: auto;
width: 100%;
}

.secondary-content table th {
background-color: #f6f6f6;
border-top: 1px solid #fff;
border-bottom: 1px solid #c0c0c0;
padding: 0 2px;
text-align: right;
}

.secondary-content table tr.first th {
border-top: 0;
}

.secondary-content table td {
background-color: #fff;
border-top: 1px solid #fff;
border-bottom: 1px solid #c0c0c0;
padding: 0 2px;
text-align: right;
}

.secondary-content table th.first,
.secondary-content table td.first {
border-top: 1px solid #fff;
padding-left: 5px;
text-align: left;
}

.secondary-content ul li{
}

.secondary-content ul li.last,
.secondary-content ul li:last-child {
border-bottom: 0;
}

.secondary-content ul li a:link,
.secondary-content ul li a:visited {
background: url(../images/arrow-grey.gif) no-repeat 10px 6px;
color: #666;
display: block;
font-size: 1.2em;
line-height: 1.5;
padding: 0 0 0 20px;
text-decoration: none;
}

.secondary-content .imageList ul li { text-align:center; margin-bottom:20px; }
.secondary-content .imageList ul li a:link,
.secondary-content .imageList ul li a:visited { background:none; padding:0; }

.secondary-content ul li a:focus,
.secondary-content ul li a:active,
.secondary-content ul li a:hover {
background-color: #fff;	
}

.secondary-content p {
color: #666;
font-size: 1.2em;
line-height: 1.2;
/*KG:padding: 4px 0 4px 7px;*/
padding:4px 0;
}

.secondary-content label {
border-top: 1px solid #fff;
display: block;
/*KG:padding: 4px 0 4px 7px;*/
padding:4px 0;
}

.secondary-content select {
margin: 0 0 9px;
width: 153px;
}

.secondary-content .login {
background: #b0c895 url(../images/login.png) no-repeat bottom left;
height: 19px;
min-height: 19px;
line-height: 19px;
margin: 10px 0 5px 9px;
padding-bottom: 5px;
text-align: center;
width: 152px;
}

html>body .secondary-content .login {
height: auto;
}

.secondary-content .login a:link,
.secondary-content .login a:visited {
background: #b0c895 url(../images/login.png) no-repeat top left;
color: #fff;
display: block;
font-size: 1.1em;
text-decoration: none;
}

.secondary-content .contact {
clear: both;
padding: 0 0 20px 0;
}

.secondary-content .contact.first {
border-top: 0;
}

.secondary-content .contact.last {
border-bottom: 0;
}

.secondary-content .contact img {
border: 1px solid #fff;
float: left;
margin: 0 6px 0 0;
}

.secondary-content .contact dl {
color: #666;
float: left;
line-height: 1.2;
width: 118px;
}

.secondary-content .contact dl dt {
font-weight: bold;
}

.secondary-content .contact dl dd.title {
}

.secondary-content .contact dl dd a:link,
.secondary-content .contact dl dd a:visited {
}

.secondary-content .quicknav h2 {
}

.secondary-content .quicknav h1 {
margin-left: -1px;
margin-right: -1px;
padding-left: 1px;
}

.secondary-content .quicknav p {
/*KG:padding-right: 3px;*/
}

.secondary-content .quicknav h3 {
border-bottom: 0;
text-transform: none;
}

.secondary-content .bannerImage { display:block; margin-bottom:16px; }

/*************************************************
=Left navigation
**************************************************/
.content-nav .box h2 {
	padding:0;
	font-size:1.6em;
	background:#555;
	color:#fecb00;
}

.content-nav .box h2 a:link,
.content-nav .box h2 a:visited {
	display:block;
	padding:19px 10px 13px;
	color:#fecb00;
	text-decoration: none;
}

.content-nav .box h2 a:hover,
.content-nav .box h2 a:focus {
	color:#fff;
}
.content-nav .box h2 a:focus {
	outline:1px dotted #000;
}
.content-nav .box h3 { padding:6px 10px; font-size:1.3em; line-height:1.308em; background:#e6e6e6; border-bottom:1px solid #f0f0f0; }

.content-nav ul li {
	font-size:1.2em;
}

.content-nav ul ul { margin-left:-4px; border-left:4px solid #ddd; }

.content-nav ul li li { font-size:1em; }

.content-nav ul li.selected,
.content-nav ul li.expanded {
border-bottom: 0;
}

.content-nav ul li span,
.content-nav ul li a:link,
.content-nav ul li a:visited {
color: #4d4d4d;
display: block;
line-height: 1.5;
padding:4px 10px 6px;
text-decoration: none;
border-bottom:1px solid #e6e6e6;
}

.content-nav ul li a:focus,
.content-nav ul li a:hover {
	background-color:#eee;
}

.content-nav ul li.selected a:link,
.content-nav ul li.selected a:visited{
	margin-top:-1px;
	padding-top:5px;
	padding-left:6px;
	background:#fecb00;
}

.content-nav ul li.selected ul li a:link,
.content-nav ul li.selected ul li a:visited{
	margin-top:0;
}

.content-nav ul li.expanded ul li.selected a:link,
.content-nav ul li.expanded ul li.selected a:visited,
body .content-nav ul li.expanded ul li.selected > a:hover,
body .content-nav ul li.expanded ul li.expanded ul li.selected > a:hover {
	background:#fecb00;
}

.content-nav ul li.expanded ul li.selected li a:link,
.content-nav ul li.expanded ul li.selected li a:visited {
	background:#fff;
}

/*.content-nav ul li.expanded a:link,
.content-nav ul li.expanded a:focus,
.content-nav ul li.expanded a:active,
.content-nav ul li.expanded a:visited,
.content-nav ul li.expanded span {
background: url(../images/arrow-grey666-down.gif) no-repeat 10px 6px;
border-bottom: 1px solid #e7e7e7;
color: #666;
display: block;
font-size: 1.2em;
line-height: 1.5;
padding: 0 0 0 20px;
text-decoration: none;
}*/

.content-nav ul li ul li {
border-top: 0;
}

.content-nav ul li.expanded { 
	border-left:4px solid #555;
	background-color: #ddd;
	border-top: 0;
}

.content-nav ul li.expanded ul li.expanded { border-left:0px; background-color:#fff; }
.content-nav ul li.expanded ul li.expanded a:hover { background-color:#eee; }

.content-nav ul li.expanded {
	margin-top:-1px;
}

.content-nav ul li.expanded .expanded {
	margin-top:0;
	border-bottom:0;
}

.content-nav ul li.expanded ul li a:link,
 .content-nav ul li.expanded ul li a:visited {
padding-left:20px;
background:#fff;
line-height:1.167em;
}
.content-nav ul li.expanded ul li a:hover,
 .content-nav ul li.expanded ul li a:focus,
 .content-nav ul li.expanded ul li.expanded ul li a:hover,
 .content-nav ul li.expanded ul li.expanded ul li a:focus {
background:#eee;
}

.content-nav ul li.expanded ul li ul li {}

.content-nav ul li.expanded ul li a:focus,
.content-nav ul li.expanded ul li a:active,
.content-nav ul li.expanded ul li a:hover {

}

.content-nav ul li.expanded ul li ul li a:link,
 .content-nav ul li.expanded ul li ul li a:visited {
padding-left:35px;
background:#fff;
}

.content-nav ul li.expanded ul li span {
border-bottom: 0;
padding: 0 0 0 30px;
}

.content-nav ul li.expanded ul li.selected {
background-image: none;
background-color: #fff;
}

.content-nav ul li.last {
border-bottom: 0;
}

/*************************************************
=Colors, widths etc.
**************************************************/
.greyf6f6f6 {/*background-color: #f6f6f6;*/}
.greyfbfbfb {/*background-color: #fbfbfb;*/}
.greye6e6e6 {/*background-color: #e6e6e6;*/}
.blue036 {background-color: #036 !important;}
.red900 {background-color: #900 !important;}

.w86 {width: 86px;}
.w110 {width: 110px;}
.w130 {width: 130px;}
.w153 {width: 153px;}
.w172 {width: 172px;}
.w189 {width: 189px;}
.w220 {width: 220px;}
.w253 {width: 253px;}
.w295 {width: 295px;}
.w330 {width: 330px;}
.w433 {width: 433px;}
.w576 {width: 576px;}

.margb10 {margin-bottom: 10px;}
.margt10 {margin-top: 10px;}
.padb10 {padding-bottom: 10px;}

.more,
 .content .more {
font-size: 1.3em;
margin-bottom: 10px;
padding-left:15px;
background:url(../images/arrows.png) no-repeat left 3px;
}
.more:link,
 .more:visited,
 .more a:link,
 .more a:visited { color:#444; }

.more ul {
font-size: 1em;
margin: 7px 0;
}
/*************************************************
=Footer
**************************************************/
#footer {
	width:100%;
	overflow:hidden;
	padding:18px 0;
	color:#444;
	background:#e0e0e0;
	border-top:2px solid #fff;
}

#footer div {
	width:964px;
	margin:0 auto;
}

#footer p {
float: left;
font-size: 1.3em;
}

#footer .org {
	font-weight:bold;
}

#footer ul {
float: right;
width: 376px;
}

#footer ul li {
float: left;
}

#footer ul li a:link,
#footer ul li a:visited {
display: block;
margin: 0 12px 0 0;
padding: 1px 3px 1px 16px;
background:url(../images/arrows.png) no-repeat left 3px;
}
/**************************
=Mail 
**************************/
.adresslistmail {
background: url(../images/mail.gif) no-repeat center left !important;
display: block;
padding: 2px 2px 2px 23px;
}


.x-form_skjema{
background-color:#EDEDEE;
}

/*Omformer <h1> til å se ut som et <p>*/
/*Søkemotoroptimalisering*/

.secondary-content h1{
font-size: 1.2em !important;
color:#666666 !important;
font-size:1.2em !important;
line-height:1.2 !important;
padding:4px 0 4px 7px !important;
}

#flashcontentPictureGallery
{
	border: 1px solid black;
}


/*.content .headline ul li.tip {
border-left: 1px solid #666;
}

.content-wide .headline ul li.tip {
border-left: 1px solid #666;
}*/

.form div label {
color:#666666;
}

.form label {
	color:#333333;
	/*display:block;
	float:left;*/
	font-size:0.688em;
	line-height:23px;
	font-size:12px;
}

.form .friend  {
border-top:4px solid #DCDCDC;
clear:both;
padding:10px 0 0;
}

.form div {
/*clear:both;*/
font-size: 12px;
color: #333333;
font-family: arial,helvetica,sans-serif;
}
/*added by epinova 0311.2011*/
#tipafriend.form.friend {float:right;background-image:none;background-color:transparent;margin:0;padding:15px 0 0;}
#tipafriend.form div#shareButtonSmall-inner-wrapper div {float:right;}
/**/

.w140{
width: 140px;
}
.w290 {
width:290px;
}

.form input.text {
font-size:12px;
}

input.text{
height:17px;
vertical-align:top;
overflow: hidden;
}

textarea{
font-family:verdana,arial,sans-serif;
font-size:0.75em;
vertical-align:top;
margin-left:8px;
font-size:12px;
overflow: hidden;
}

.submit input[type="submit"] {
background:url("../images/button-xlarge.png") no-repeat scroll left top transparent;
border:0 none;
color:#5B8F22;
cursor:pointer;
float:right;
font-size:0.9em;
height:24px;
line-height:24px;
min-height:24px;
min-width:39px;
text-align:center;
vertical-align:middle;
width:90px;
}



/*************************************************
=Focus modules
*************************************************/

.focus {
	position: relative;
	margin-bottom: 20px;
	line-height: 1.25;
	height: 32.9em;
	margin-top:-2px;
	border:2px solid #fff;
	overflow:hidden;
}

.focus.fullscreen {
	width: 958px;
	background: #000;
}

.focus.basic {
	width: 756px;
	float:right;
}

.focus a {
	color: #fff;
}

.focus a:hover {
	text-decoration: none;
}

.focus h2 {
	margin-bottom:5px;
	font-size: 2.6em;
	color: #fff;
	font-weight: normal;
	line-height:1.231em;
}

.focus h2 a {
	text-decoration: none;
}

.focus h2 a:hover {
	text-decoration: underline;
}

.focus p {
	margin-bottom:10px;
	font-size:1.8em;
	color: #fff;
	line-height:1.444em;
}

.focus a.references:link,
 .focus a.references:visited { position:absolute; right:12px; bottom:15px; padding-left:15px; font-size:1.6em; color:#fff; background:url(../images/arrows.png) no-repeat left 5px; }



/* ----- over image ------ */

.focus .overimage {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 358px;
	height: 100%;
	padding:0 8px;
	overflow: hidden;
	background:#333;
	background:rgba(52, 52, 52, 0.7);
}

.focus .controls {
	position: absolute;
	bottom:0;
	width:358px;
}

.focus .play {
	padding-bottom: 15px;
}

.focus .play a {
	display: block;
	margin: 0 auto;
	width: 63px;
	height: 63px;
	background: url(../images/focusmodule/btn_play_on.png) no-repeat;
	
}

.focus .controls ul {
	border-top:1px solid #898989;
	margin:0 4px;
	padding:10px 0 6px;
}

.focus .controls li {
	display: inline;
}

.focus .controls li a {
	display: inline-block;
	width: 35px;
	height: 35px;
	outline:none;
	background-repeat:no-repeat;
}

.focus .controls li.btn1 a {
	background-image: url(../images/focusmodule/btn_1_on.png);
}

.focus .controls li.btn2 a {
	background-image: url(../images/focusmodule/btn_2_on.png);
}

.focus .controls li.btn3 a {
	background-image: url(../images/focusmodule/btn_3_on.png);
}

.focus .controls li.btn4 a {
	background-image: url(../images/focusmodule/btn_4_on.png);
}

.focus .controls li.btn5 a {
	background-image: url(../images/focusmodule/btn_5_on.png);
}

.focus .controls li a:hover img,
.focus .controls li.selected img {
	display: none;
}

.focus .info {
	padding-bottom:20px;
}



/* ----- slideshow ------ */

.focus .slideshow { overflow:hidden; height:32.9em; }
.fullscreen .slideShowBasic { display:none !important; }
.focus .slideshow img {
	display: block;
}

.referenceProject .focus .overimage { background:transparent; }
.referenceProject .focus .overimage .controls { width:auto; right:0; }
.referenceProject .focus .overimage .controls ul { border:0; }
.referenceProject .focus .references { display:none; }

.slideShowSticker { position:absolute; top:5px; right:0; z-index:100; }

.smallSlideShowPager { width:272px; float:left; clear:left; margin-top:-45px; }
.smallSlideShowPager ul { float:right; }
.smallSlideShowPager ul:hover li:first-child a { background-position:right top; color:#fff; }
.smallSlideShowPager ul li { list-style:none; float:left; }
.smallSlideShowPager ul li a:link,
 .smallSlideShowPager ul li a:visited { display:block; width:28px; height:25px; padding:3px 0 0 3px; color:#fff; font-size:16px; font-weight:bold; text-align:center; text-decoration:none; background:url(../images/roundButtons.png) no-repeat right top; }
.smallSlideShowPager ul li a:hover,
 .smallSlideShowPager ul li:first-child a,
 .smallSlideShowPager ul:hover li:first-child a:hover { color:#444; background-position:3px top; }


#ProjectImageMain { margin-top:3px; }



/* ------ video ----------*/

.focus .video {
	display: none;
	position: absolute;
	z-index: 1;
	width: 741px;
	height: 430px;
}

.focus.fullscreen .video {
	top: 35px;
	left: 210px;
}

.focus .video object,
.focus .video embed {
	width: 720px !important;
	height: 430px !important;
}

.videoclose {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background: #ccc;
}

.videoclose:hover {
	background: #999;
}

.focus.videoactive .overimage {
	display: none;
}

.focus.fullscreen.videoactive .slideshow {
	opacity: 0.3;
	filter:alpha(opacity=30);
}

.focus.basic.videoactive .slideshow {
	display: none;
}

a.video:link,
 a.video:visited { display:block; float:right; width:164px; height:30px; margin-bottom:20px; padding:74px 0 0 10px; background:url(../images/videoTrigger.png) no-repeat left top; text-align:center; font-size:1.8em; color:#fff; text-decoration:none; }
a.video:hover,
 a.video:focus { text-decoration:underline; }


/*************************************************
Framework adjustments for focusmodules
*************************************************/

body.fullscreenfocus #header {
	position: relative;
	z-index: 1;
}

body.fullscreenfocus #header .path {
	background: url(../images/focusmodule/path3-bg.png) no-repeat bottom left;
}

body.basicfocus .content-wide {
	width: 749px;
}
/*commentede by Epinova 0311.2011
body.basicfocus .content-wide .headline {
	xbackground: url(../images/focusmodule/headline_wide.gif) no-repeat; 
}
*/
body.fullscreenfocus .headline,
body.basicfocus .headline {
	margin-top: 1px;
}

.content-wrapper2 {
	float: right;
	width: 760px;
	overflow: hidden;
}
.content-wrapper2.fullscreen { width:962px; }

.fullscreen .content { width:760px; }

body.fullscreenfocus .content-nav {
	position: relative;
	margin-top: -35.1em;
}

body.fullscreenfocus .content-nav .box {
	background: none;
}

body.fullscreenfocus .content-nav .box .inner {
	background: #fbfbfb;
	background:rgba(255, 255, 255, 0.9);
	padding: 0;
}
.videoloading{
	display: block;
	position:absolute;
	top: 0;
	left: 0;
}

#customLink { /*hack for å få fikset link over en iframe på "Jobb i AF" forsiden */
    margin-left: 110px;
	position:absolute!important;
	background: #fff;
    height: 36px;
    width: 175px;
    left: 50%;
}

#customLink a { /*hack for å få fikset link over en iframe på "Jobb i AF" forsiden */
    font-size: 18px !important;
    font-weight: normal !important;
    text-transform: none !important;
    text-decoration:none !important;
    line-height: 1.8;
}



#shareButtonsSmall-wrapper .addthis_toolbox addthis_default_style{
	float: right;
    position: relative;
    top: 11px;
}

#shareButtonsSmall-wrapper a{
	text-decoration:none;
	position:relative;
	margin-right: 5px;
}

#emailBtn span,
#facebookBtn span,
#googleBtn span,
#linkedInBtn span,
#twitterBtn span
{
	position: relative;
}

#emailBtn{	/*fix for IE*/
	*position: relative;
   /* *top: 9px;*/
}

.facebookLike{
	left: 15px;
    position: relative
}

.comment_content
{
	display:none !important;
}


.campaign .campaignItem { position:absolute; top:42px; font-size:1.2em; z-index:0; }
.campaign .campaignItem a { position:relative; display:block; width:146px; height:178px; overflow:hidden; border:2px solid #fff; text-decoration:none; }
.campaign .campaignItem a img { position:absolute; top:-24px; left:-59px; border:0; }
.campaign .campaignItem a span { display:block; position:absolute; bottom:0; left:0; width:100%; cursor:pointer; }
.campaign .campaignItem a span span { position:relative; width:100%; color:#000; font-weight:bold; background:#fff; background:rgba(255, 255, 255, 0.8) url(../images/arrowCampaign.png) no-repeat right center; }
.campaign .campaignItem a span span span { width:129px; padding:4px 11px 4px 6px; background:transparent url(none); }
.campaign .campaignItem a span span span span { background:none; padding:0; }
.campaign .campaignItem:hover { margin-top:-24px; margin-left:-59px; z-index:5; }
.campaign .campaignItem:hover a { width:264px; height:226px; }
.campaign .campaignItem:hover a img { top:0; left:0; }
.campaign .campaignItem .shadow { background:url(../images/shadowBottomRightSurface.png); position:absolute; width:34px; height:88px; bottom:0; right:-34px; }
.campaign .campaignItem2,
 .campaign .campaignItem4 { top:102px; }
.campaign3 .campaignItem1 { left:127px; }
.campaign3 .campaignItem2,
 .campaign5 .campaignItem3 { left:404px; }
.campaign3 .campaignItem3 { left:681px; }
.campaign4 .campaignItem1 { left:72px; }
.campaign4 .campaignItem2 { left:293px; }
.campaign4 .campaignItem3 { left:515px; }
.campaign4 .campaignItem4 { left:736px; }
.campaign5 .campaignItem1 { left:35px; }
.campaign5 .campaignItem2 { left:219px; }
.campaign5 .campaignItem4 { left:589px; }
.campaign5 .campaignItem5 { left:773px; }
.campaign5 .campaignItem1:hover { margin-left:-33px; }
.campaign5 .campaignItem5:hover { margin-left:-85px; }

@media screen and (min-device-width:1024px) {
	.campaign .campaignItem {
		-webkit-transition:margin .5s, z-index .5s;
		-moz-transition:margin .5s, z-index .5s;
		-ms-transition:margin .5s, z-index .5s;
		-o-transition:margin .5s, z-index .5s;
		transition:margin .5s, z-index .5s;
	 }
	 .campaign .campaignItem a {
		-webkit-transition:width .5s, height .5s;
		-moz-transition:width .5s, height .5s;
		-ms-transition:width .5s, height .5s;
		-o-transition:width .5s, height .5s;
		transition:width .5s, height .5s;
	 }
	 .campaign .campaignItem a img {
		-webkit-transition:top .5s, left 0.5s;
		-moz-transition:top .5s, left 0.5s;
		-ms-transition:top .5s, left 0.5s;
		-o-transition:top .5s, left 0.5s;
		transition:top .5s, left 0.5s;
	 }
}


/* override webpart edit */
.editZone,
 .editZone table,
 .content .editoZone table { font-size:1em !important; }
.article .editZone td,
 .secondary-content .editZone td { background-color:transparent; }
.editZone img { float:none; margin:0; }
.editZone .featureItems,
 .editZone .videoBooth { width:102%; }
.webparttitle 
.webparttitle table td { border-top:none; }
.webparttitle td:first-child { width:50px; }