table.positions {
	border-collapse: collapse;
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 20px;
	table.positions-layout:fixed;
	overflow: hidden;
	width: 100%;
	margin-top: 1em;
}

table.positions th {
	color: #666;
	border-top: none;
	padding: 5px 0 !important;
}

table.positions th, table.positions td {
	border-bottom: 1px solid #d8d8d8;
}

table.positions th.first {
	width: 290px;
}

table.positions th.last {
	width: 265px;
}

table.positions td {
	overflow: hidden;
	vertical-align: top;
}

table.positions td {
	color: #333;
	padding: 5px 10px;
}

table.positions tr.last td {
	border: 0;
}

table.positions th, table.positions td {
	background-color: transparent;
}

table.positions tbody tr:hover {
	background-color: white;
}

table.positions a {
	text-decoration: none;
	color: #333;
}

p.intro {
	font-weight: bold;
	font-size: 13px;
}

.about .imageCol {
	width: 193px;
	float: left;
}

.about .textCol {
	width: 364px;
	float: right;
}

.about .textCol h2 {
	margin-bottom: 1em;
}

.position-data {
	background-color: #f8f8f8;
	border: 1px solid #d8d8d8;
	padding: 12px 10px;
}

.position-data p {
	line-height: 1.5em;
}

#apply {
	display: block;
	clear: both;
	background: #fac933 url(../apply-btn.gif) no-repeat 0% 50%;
	font-size: 15px;
	line-height: 1;
	padding: 10px 10px 10px 28px;
	color: #444;
	text-decoration: none;
	margin-top: 1em;
	font-weight: bold;
}

.secondary-content {
	overflow: visible;
}