/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/rubies/ruby-2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/utilities/_variables.scss */
.right {
  float: right;
}

/* line 21, ../sass/utilities/_variables.scss */
.left {
  float: left;
}

/* =============================================================

    Slider v3.0
    A simple, responsive, touch-enabled image slider, forked from Swipe.

    Script by Brad Birdsall.
    http://swipejs.com/

    Forked by Chris Ferdinandi.
    http://gomakethings.com

    Code contributed by Ron Ilan.
    https://github.com/bradbirdsall/Swipe/pull/277

    Licensed under the MIT license.
    http://gomakethings.com/mit/
    
 * ============================================================= */
/*  When HTML5 JS features supported, hide slider */
/* line 21, ../sass/plugins/_slider.scss */
.js .slider {
  position: relative;
  overflow: hidden;
  visibility: hidden;
}

/*  When HTML5 JS features supported, hide slides */
/* line 28, ../sass/plugins/_slider.scss */
.js .slides {
  overflow: hidden;
  position: relative;
}

/*  Add a margin-bottom to each slide */
/* line 34, ../sass/plugins/_slider.scss */
.slides > div {
  margin-bottom: .470588235em;
}

/*  When HTML5 JS features supported, set width to 100%
 *  and float slides to the left. */
/* line 40, ../sass/plugins/_slider.scss */
.js .slides > div {
  width: 100%;
  float: left;
  position: relative;
}

/*  Make slider images fluid */
/* line 47, ../sass/plugins/_slider.scss */
.slides img {
  max-width: 100%;
  height: auto;
}

/*  Remove floats */
/* line 53, ../sass/plugins/_slider.scss */
.slider:before, .slider:after {
  display: table;
  content: "";
  *zoom: 1;
}

/*  Remove floats */
/* line 60, ../sass/plugins/_slider.scss */
.slider:after {
  clear: both;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?38196976");
  src: url("../fonts/fontello.eot?38196976#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?38196976") format("woff"), url("../fonts/fontello.ttf?38196976") format("truetype"), url("../fonts/fontello.svg?38196976#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?38196976#fontello') format('svg');
  }
}
*/
/* line 22, ../sass/utilities/_fonts.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 53, ../sass/utilities/_fonts.scss */
.icon-gplus:before {
  content: '\67';
}

/* 'g' */
/* line 54, ../sass/utilities/_fonts.scss */
.icon-linkedin:before {
  content: '\69';
}

/* 'i' */
/* line 55, ../sass/utilities/_fonts.scss */
.icon-twitter:before {
  content: '\77';
}

/* 'w' */
/* line 56, ../sass/utilities/_fonts.scss */
.icon-facebook:before {
  content: '\66';
}

/* 'f' */
/* line 57, ../sass/utilities/_fonts.scss */
.icon-up-big:before {
  content: '\75';
}

/* 'u' */
/* line 58, ../sass/utilities/_fonts.scss */
.icon-down-big:before {
  content: '\64';
}

/* 'd' */
/* line 59, ../sass/utilities/_fonts.scss */
.icon-mail:before {
  content: '\6d';
}

/* 'm' */
/* line 60, ../sass/utilities/_fonts.scss */
.icon-menu:before {
  content: '\72';
}

/* 'r' */
/* line 61, ../sass/utilities/_fonts.scss */
.icon-search:before {
  content: '\73';
}

/* 's' */
/* line 62, ../sass/utilities/_fonts.scss */
.icon-phone:before {
  content: '\70';
}

/* 'p' */
/* line 63, ../sass/utilities/_fonts.scss */
.icon-lock:before {
  content: '\6c';
}

/* 'l' */
/* line 1, ../sass/utilities/_header.scss */
#header {
  position: relative;
  height: 80px;
}
/* line 5, ../sass/utilities/_header.scss */
.frontpage #header {
  height: 50px;
}

/* line 10, ../sass/utilities/_header.scss */
#logo {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  background-image: url("../images/logo.png");
  width: 66px;
  height: 66px;
  display: block;
  float: right;
  position: absolute;
  top: 6px;
  right: 16px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 10, ../sass/utilities/_header.scss */
  #logo {
    background-image: url("../images/logo@2x.png");
    background-size: 66px 66px;
  }
}

/* line 1, ../sass/utilities/_menu.scss */
#header {
  position: relative;
  z-index: 100;
}

/* line 7, ../sass/utilities/_menu.scss */
nav ul {
  width: 100%;
}
/* line 10, ../sass/utilities/_menu.scss */
nav ul li {
  width: 100%;
}
/* line 14, ../sass/utilities/_menu.scss */
nav ul a {
  display: block;
  background-color: #444444;
  color: #fdcb00 !important;
  border-top: 1px solid #808080;
  padding: 0.875em 1.25em;
  font-size: 1.125em;
  text-decoration: none;
  background-image: url("../images/menu-arrow.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 14, ../sass/utilities/_menu.scss */
  nav ul a {
    background-image: url("../images/menu-arrow@2x.png");
    background-size: 34px 11px;
  }
}
/* line 28, ../sass/utilities/_menu.scss */
nav ul ul a {
  padding-left: 2.5em;
}
/* line 34, ../sass/utilities/_menu.scss */
nav:first-child a {
  border-left: none;
}

/* line 39, ../sass/utilities/_menu.scss */
.main-nav {
  padding-top: 0.375em;
}
/* line 42, ../sass/utilities/_menu.scss */
.main-nav a {
  text-decoration: none;
}
/* line 46, ../sass/utilities/_menu.scss */
.main-nav > li {
  float: left;
  width: auto;
}
/* line 50, ../sass/utilities/_menu.scss */
.main-nav > li > a {
  width: 53px;
  height: 40px;
  font-size: 1.5625em;
  border-top: none;
  border-left: 1px solid #5b5b5b;
  text-align: center;
  line-height: 1.875em;
  color: white !important;
  background-color: transparent;
  padding: 0;
  background-image: none;
}
/* line 62, ../sass/utilities/_menu.scss */
.main-nav > li > a.active {
  color: #fdcb00 !important;
}
/* line 69, ../sass/utilities/_menu.scss */
.main-nav > li > ul {
  background-color: #444444;
  position: absolute;
  width: 100%;
  top: 80px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
/* line 78, ../sass/utilities/_menu.scss */
.frontpage .main-nav > li > ul {
  top: 50px;
  padding-top: 30px;
}
/* line 83, ../sass/utilities/_menu.scss */
.main-nav > li > ul li {
  width: 100%;
}
/* line 87, ../sass/utilities/_menu.scss */
.main-nav > li > ul a {
  display: block;
  background-color: #444444;
  color: #fdcb00 !important;
  border-top: 1px solid #808080;
  padding: 0.875em 1.25em;
  font-size: 1.125em;
}
/* line 97, ../sass/utilities/_menu.scss */
.main-nav > li > ul ul a {
  padding-left: 2.5em;
}
/* line 103, ../sass/utilities/_menu.scss */
.main-nav > li:first-child a {
  border-left: none;
}

/* line 109, ../sass/utilities/_menu.scss */
.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  background-color: rgba(68, 68, 68, 0.8);
}

/* line 3, ../sass/utilities/_search.scss */
#header .search {
  z-index: 50;
  background-color: #383838;
  border-top: 1px solid #808080;
  position: absolute;
  width: 100%;
  top: 80px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
/* line 14, ../sass/utilities/_search.scss */
.frontpage #header .search {
  top: 50px;
  padding-top: 30px;
}
/* line 19, ../sass/utilities/_search.scss */
#header .search form {
  margin: 0.75em 1.25em;
}
/* line 23, ../sass/utilities/_search.scss */
#header .search input {
  border-radius: 5px;
  border: none;
  padding: 0.5em 0.625em;
  width: 85%;
}
/* line 29, ../sass/utilities/_search.scss */
#header .search input:focus {
  outline: none;
  border: none;
}
/* line 35, ../sass/utilities/_search.scss */
#header .search button {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  border: none;
  width: 15%;
  height: 30px;
  float: right;
  background-color: transparent;
  margin-right: -17px;
  background-image: url("../images/menu-arrow.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 35, ../sass/utilities/_search.scss */
  #header .search button {
    background-image: url("../images/menu-arrow@2x.png");
    background-size: 34px 11px;
  }
}

/* line 1, ../sass/utilities/_article.scss */
article {
  *zoom: 1;
  padding: 1.25em;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
article:before, article:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
article:after {
  clear: both;
}
/* line 5, ../sass/utilities/_article.scss */
article h2 {
  font-weight: bold;
  color: #929496;
  text-transform: uppercase;
}
/* line 10, ../sass/utilities/_article.scss */
article h2.underline {
  text-decoration: underline;
}
/* line 14, ../sass/utilities/_article.scss */
article h2 a {
  color: #929496;
}
/* line 19, ../sass/utilities/_article.scss */
article h1 {
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.3;
  margin: 0.125em 0;
}
/* line 26, ../sass/utilities/_article.scss */
article .date {
  color: #929496;
  margin-bottom: 1em;
}
/* line 31, ../sass/utilities/_article.scss */
article img {
  width: 100%;
  height: auto;
}
/* line 36, ../sass/utilities/_article.scss */
article p {
  margin: .75em 0;
}
/* line 40, ../sass/utilities/_article.scss */
article .article-intro {
  font-weight: bold;
}
/* line 44, ../sass/utilities/_article.scss */
article h1 + .article-image {
  margin-top: 1em;
}
/* line 48, ../sass/utilities/_article.scss */
article .article-link {
  font-weight: bold;
  padding-right: 15px;
  background-image: url("../images/arrow-right.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 48, ../sass/utilities/_article.scss */
  article .article-link {
    background-image: url("../images/arrow-right@2x.png");
    background-size: 6px 9px;
  }
}
/* line 56, ../sass/utilities/_article.scss */
article .gray-box {
  background-color: #e9e9e9;
  padding: 0.625em 1.25em;
  margin-left: -1.25em;
  margin-right: -1.25em;
  border-top: 1px solid white;
}
/* line 64, ../sass/utilities/_article.scss */
article .contact {
  margin: 0 -1.25em 0 -1.25em;
}
/* line 67, ../sass/utilities/_article.scss */
article .contact.border {
  border-bottom: 1px solid white;
}
/* line 71, ../sass/utilities/_article.scss */
article .contact li {
  list-style-type: none;
}
/* line 75, ../sass/utilities/_article.scss */
article .contact .yellow {
  *zoom: 1;
  background-color: #fdcb00;
  border-top: 1px solid white;
  padding: 0.5em 1.25em;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
article .contact .yellow:before, article .contact .yellow:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
article .contact .yellow:after {
  clear: both;
}
/* line 82, ../sass/utilities/_article.scss */
article .contact .phone, article .contact .mail {
  font-size: 1.875em;
  line-height: 1.5625em;
}
/* line 87, ../sass/utilities/_article.scss */
article .contact a {
  text-decoration: none;
  display: block;
}
/* line 92, ../sass/utilities/_article.scss */
article .contact + h1 {
  margin-top: 1em;
}

/* line 99, ../sass/utilities/_article.scss */
section.facts, section.map {
  *zoom: 1;
  padding: 1.25em;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
section.facts:before, section.facts:after, section.map:before, section.map:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
section.facts:after, section.map:after {
  clear: both;
}
/* line 103, ../sass/utilities/_article.scss */
section.facts a, section.map a {
  color: inherit;
}
/* line 108, ../sass/utilities/_article.scss */
section.facts {
  background-color: #e9e9e9;
}
/* line 111, ../sass/utilities/_article.scss */
section.facts dt {
  font-weight: bold;
  margin-top: .75em;
}
/* line 115, ../sass/utilities/_article.scss */
section.facts dt:first-child {
  margin-top: 0;
}
/* line 122, ../sass/utilities/_article.scss */
section.map img {
  border: 1px solid #929496;
  width: 100%;
  height: auto;
}
/* line 128, ../sass/utilities/_article.scss */
section.map p:first-child {
  margin-bottom: 1em;
}
/* line 132, ../sass/utilities/_article.scss */
section.map strong {
  font-weight: bold;
}

/* line 1, ../sass/utilities/_news-list.scss */
.news-list {
  *zoom: 1;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.news-list:before, .news-list:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.news-list:after {
  clear: both;
}
/* line 4, ../sass/utilities/_news-list.scss */
.news-list h2 {
  background-color: #e9e9e9;
  color: gray;
  padding: 0.625em 1.25em;
  font-size: 1.125em;
  font-weight: bold;
}
/* line 11, ../sass/utilities/_news-list.scss */
.news-list h2 a {
  float: right;
  padding: 0;
  font-size: 0.875em;
  font-weight: 100;
  text-decoration: underline;
  color: #444444;
}
/* line 22, ../sass/utilities/_news-list.scss */
.news-list li a {
  display: block;
  padding: 0.625em 1.25em;
  color: #444444;
  border-bottom: 1px solid #e9e9e9;
  text-decoration: none;
}
/* line 29, ../sass/utilities/_news-list.scss */
.news-list li a:active {
  background-color: white;
}
/* line 35, ../sass/utilities/_news-list.scss */
.news-list h4 {
  font-weight: bold;
}
/* line 38, ../sass/utilities/_news-list.scss */
.news-list h4 span {
  font-weight: normal;
}
/* line 43, ../sass/utilities/_news-list.scss */
.news-list .date {
  color: gray;
}
/* line 47, ../sass/utilities/_news-list.scss */
.news-list img {
  width: 100%;
}

/* line 1, ../sass/utilities/_share-links.scss */
.share-links {
  *zoom: 1;
  padding: 0 1.25em;
  line-height: 2.1875em;
  color: #929496;
  margin-bottom: 2em;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.share-links:before, .share-links:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.share-links:after {
  clear: both;
}
/* line 8, ../sass/utilities/_share-links.scss */
.share-links span {
  display: block;
  text-align: right;
}
/* line 13, ../sass/utilities/_share-links.scss */
.share-links li {
  float: left;
  margin-left: 1.25em;
}
/* line 17, ../sass/utilities/_share-links.scss */
.share-links li:first-child {
  margin-left: 0;
}
/* line 21, ../sass/utilities/_share-links.scss */
.share-links li a {
  width: 30px;
  height: 30px;
  display: block;
  color: white;
  text-align: center;
  line-height: 2.1875em;
  text-decoration: none;
}
/* line 29, ../sass/utilities/_share-links.scss */
.share-links li a.rounded {
  border-radius: 1.875em;
  background-color: #929496;
}
/* line 39, ../sass/utilities/_share-links.scss */
.share-links li a.share-em {
  color: #929496;
  font-size: 1.5625em;
  line-height: 1.375em;
}

/* line 2, ../sass/utilities/_investor-information.scss */
.investor {
  background-color: #e9e9e9;
  padding: 1.25em 1.25em;
  overflow: hidden;
  color: gray;
}
/* line 9, ../sass/utilities/_investor-information.scss */
.investor ul li {
  width: 38%;
  float: left;
}
/* line 13, ../sass/utilities/_investor-information.scss */
.investor ul li:first-child {
  width: 20%;
}
/* line 17, ../sass/utilities/_investor-information.scss */
.investor ul li.right {
  text-align: right;
  width: 42%;
}
/* line 22, ../sass/utilities/_investor-information.scss */
.investor ul li.link {
  line-height: 2.5em;
}
/* line 28, ../sass/utilities/_investor-information.scss */
.investor strong {
  color: #333333;
  font-weight: bold;
  font-size: 1.125em;
}
/* line 34, ../sass/utilities/_investor-information.scss */
.investor strong span.positive {
  color: #39b549;
}
/* line 38, ../sass/utilities/_investor-information.scss */
.investor strong span.negative {
  color: #f00;
}
/* line 44, ../sass/utilities/_investor-information.scss */
.investor a {
  color: #444444;
}
/* line 48, ../sass/utilities/_investor-information.scss */
.investor + .stock-messages h2 {
  border-top: 1px solid white;
}

/* line 1, ../sass/utilities/_newsletter.scss */
.newsletter {
  background-color: #444444;
  padding: 1.25em;
  color: white;
}
/* line 6, ../sass/utilities/_newsletter.scss */
.newsletter h2 {
  color: #fdcb00;
  margin-bottom: .75em;
}
/* line 11, ../sass/utilities/_newsletter.scss */
.newsletter form {
  margin: 0.75em 0;
}
/* line 15, ../sass/utilities/_newsletter.scss */
.newsletter input {
  border-radius: 5px;
  border: none;
  padding: 0.5em 0.625em;
  width: 85%;
}
/* line 21, ../sass/utilities/_newsletter.scss */
.newsletter input:focus {
  outline: none;
  border: none;
}
/* line 27, ../sass/utilities/_newsletter.scss */
.newsletter button {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  border: none;
  width: 15%;
  height: 30px;
  float: right;
  background-color: transparent;
  margin-right: -20px;
  background-image: url("../images/menu-arrow.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 27, ../sass/utilities/_newsletter.scss */
  .newsletter button {
    background-image: url("../images/menu-arrow@2x.png");
    background-size: 34px 11px;
  }
}

/* line 2, ../sass/utilities/_position-listing.scss */
.position-listing li:first-child {
  border-top: 1px solid #e9e9e9;
}

/* line 2, ../sass/utilities/_frontpage.scss */
.business-area {
  *zoom: 1;
  background-color: #f8f8f8;
  padding-top: 0.625em;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
.business-area:before, .business-area:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
.business-area:after {
  clear: both;
}
/* line 7, ../sass/utilities/_frontpage.scss */
.business-area li {
  float: left;
  width: 33%;
  margin-bottom: 0.9375em;
  border-left: 1px solid white;
}
/* line 13, ../sass/utilities/_frontpage.scss */
.business-area li:nth-child(3n+1) {
  border: none;
}
/* line 18, ../sass/utilities/_frontpage.scss */
.business-area a {
  display: block;
  text-align: center;
  color: #444444;
  font-weight: bold;
  text-decoration: none;
}
/* line 25, ../sass/utilities/_frontpage.scss */
.business-area a img {
  max-height: 47px;
  width: auto;
}
/* line 30, ../sass/utilities/_frontpage.scss */
.business-area a span {
  display: block;
}

/* line 38, ../sass/utilities/_frontpage.scss */
.content-slider .slides {
  position: relative;
  line-height: 0;
}
/* line 42, ../sass/utilities/_frontpage.scss */
.content-slider .slides h2 {
  background-color: rgba(68, 68, 68, 0.8);
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 20px;
  z-index: 5;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
}

/* line 1, ../sass/utilities/_area-landing.scss */
.introduction {
  padding: 1.25em;
}

/* line 5, ../sass/utilities/_area-landing.scss */
.reference-project {
  padding: 1.25em;
}

/* line 2, ../sass/utilities/_area-article.scss */
.project-listing img {
  margin-top: 1em;
}
/* line 6, ../sass/utilities/_area-article.scss */
.project-listing h3 {
  font-weight: bold;
  margin-bottom: .75em;
}

/* line 1, ../sass/utilities/_projects.scss */
.project-header {
  padding: 0 1.25em;
}
/* line 4, ../sass/utilities/_projects.scss */
.project-header h1 {
  font-size: 1.125em;
  font-weight: bold;
  margin: 1em 0;
}
/* line 10, ../sass/utilities/_projects.scss */
.project-header select {
  width: 100%;
  font-size: 14px;
  padding: 0.3125em;
}

/* line 17, ../sass/utilities/_projects.scss */
.project {
  border-bottom: 1px solid #e9e9e9;
}
/* line 20, ../sass/utilities/_projects.scss */
.project .article-image {
  margin-bottom: 1em;
}
/* line 24, ../sass/utilities/_projects.scss */
.project h3 {
  font-weight: bold;
  color: #929496;
  text-transform: uppercase;
}
/* line 30, ../sass/utilities/_projects.scss */
.project h2 {
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.3;
  margin: 0.125em 0;
  text-transform: none;
  color: #444444;
}

/* line 3, ../sass/utilities/_search.scss */
#header .search {
  z-index: 50;
  background-color: #383838;
  border-top: 1px solid #808080;
  position: absolute;
  width: 100%;
  top: 80px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
/* line 14, ../sass/utilities/_search.scss */
.frontpage #header .search {
  top: 50px;
  padding-top: 30px;
}
/* line 19, ../sass/utilities/_search.scss */
#header .search form {
  margin: 0.75em 1.25em;
}
/* line 23, ../sass/utilities/_search.scss */
#header .search input {
  border-radius: 5px;
  border: none;
  padding: 0.5em 0.625em;
  width: 85%;
}
/* line 29, ../sass/utilities/_search.scss */
#header .search input:focus {
  outline: none;
  border: none;
}
/* line 35, ../sass/utilities/_search.scss */
#header .search button {
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  border: none;
  width: 15%;
  height: 30px;
  float: right;
  background-color: transparent;
  margin-right: -17px;
  background-image: url("../images/menu-arrow.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 35, ../sass/utilities/_search.scss */
  #header .search button {
    background-image: url("../images/menu-arrow@2x.png");
    background-size: 34px 11px;
  }
}

/* line 2, ../sass/utilities/_footer.scss */
#footer .scroll-top {
  *zoom: 1;
  padding: 1.25em;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#footer .scroll-top:before, #footer .scroll-top:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#footer .scroll-top:after {
  clear: both;
}
/* line 6, ../sass/utilities/_footer.scss */
#footer .scroll-top a {
  width: 30px;
  height: 30px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  display: block;
  clear: both;
  border-radius: 30px;
  background-image: url("../images/arrow-up.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #fdcb00;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  /* line 6, ../sass/utilities/_footer.scss */
  #footer .scroll-top a {
    background-image: url("../images/arrow-up@2x.png");
    background-size: 11px 14px;
  }
}
/* line 19, ../sass/utilities/_footer.scss */
#footer .bar {
  *zoom: 1;
  overflow: hidden;
  background-color: #444444;
  height: 3.125em;
  line-height: 3.3125em;
  padding: 0 8px 0 1.25em;
  font-size: 1.125em;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#footer .bar:before, #footer .bar:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#footer .bar:after {
  clear: both;
}
/* line 28, ../sass/utilities/_footer.scss */
#footer .bar a {
  text-decoration: none;
  color: white;
}
/* line 34, ../sass/utilities/_footer.scss */
#footer .bar .left a {
  color: #fdcb00;
}
/* line 40, ../sass/utilities/_footer.scss */
#footer .bar .right a {
  font-size: 1.5625em;
  border-left: 1px solid #626262;
  padding: 8px;
}
/* line 48, ../sass/utilities/_footer.scss */
#footer .links {
  background-color: #e9e9e9;
  padding-bottom: 0.9375em;
}
/* line 53, ../sass/utilities/_footer.scss */
#footer .languages {
  *zoom: 1;
  padding: 0.875em 1.25em;
}
/* line 18, ../sass/bourbon/addons/_clearfix.scss */
#footer .languages:before, #footer .languages:after {
  content: " ";
  display: table;
}
/* line 23, ../sass/bourbon/addons/_clearfix.scss */
#footer .languages:after {
  clear: both;
}
/* line 57, ../sass/utilities/_footer.scss */
#footer .languages li {
  width: 33%;
  float: left;
}
/* line 61, ../sass/utilities/_footer.scss */
#footer .languages li:last-child {
  text-align: right;
}
/* line 66, ../sass/utilities/_footer.scss */
#footer .languages a {
  color: #444444;
  text-decoration: none;
  font-size: 0.875em;
}
/* line 73, ../sass/utilities/_footer.scss */
#footer .share-links {
  margin-bottom: 0;
  padding-bottom: 0.3125em;
}

/* line 43, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 47, ../sass/screen.scss */
body, input {
  font-family: sans-serif;
  font-size: 0.875em;
  line-height: 1.4em;
  color: #444444;
  -webkit-font-smoothing: antialiased;
}

/* line 59, ../sass/screen.scss */
#wrapper {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  /* line 59, ../sass/screen.scss */
  #wrapper {
    width: 600px;
  }
}

/* line 71, ../sass/screen.scss */
#header {
  background: -webkit-linear-gradient( #333333, #444444) left no-repeat;
  background: linear-gradient( #333333, #444444) left no-repeat;
}
/* line 74, ../sass/screen.scss */
#header a {
  color: white;
}

/* line 83, ../sass/screen.scss */
#logo img, #logo object {
  max-width: 66px;
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 20;
}

/* line 96, ../sass/screen.scss */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: none;
}

/* line 110, ../sass/screen.scss */
hr {
  border: none;
  border-top: 1px solid #e9e9e9;
}

/* line 118, ../sass/screen.scss */
article ul {
  margin-left: 1em;
}
/* line 121, ../sass/screen.scss */
article ul li {
  list-style: disc;
}
/* line 126, ../sass/screen.scss */
article strong {
  font-weight: bold;
}
/* line 130, ../sass/screen.scss */
article em {
  font-style: italic;
}
/* line 134, ../sass/screen.scss */
article a {
  color: #444444;
}

/* line 139, ../sass/screen.scss */
.black-title {
  background-color: #383838;
  border-top: 1px solid #808080;
  color: white;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.3;
  padding: 0.625em 1.25em;
  margin: 0 -1.25em;
  margin-top: -18px;
}

/* line 151, ../sass/screen.scss */
.subtitle {
  background-color: #e9e9e9;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.3;
  margin: 0 -1.25em;
  padding: 0.625em 1.25em;
  text-transform: none;
}
