/* =============================================================

    Slider v3.0
    A simple, responsive, touch-enabled image slider, forked from Swipe.

    Script by Brad Birdsall.
    http://swipejs.com/

    Forked by Chris Ferdinandi.
    http://gomakethings.com

    Code contributed by Ron Ilan.
    https://github.com/bradbirdsall/Swipe/pull/277

    Licensed under the MIT license.
    http://gomakethings.com/mit/
    
 * ============================================================= */

/*  When HTML5 JS features supported, hide slider */
.js .slider {
    position: relative;
    overflow: hidden;
    visibility: hidden;
}

/*  When HTML5 JS features supported, hide slides */
.js .slides {
    overflow: hidden;
    position: relative;
}

/*  Add a margin-bottom to each slide */
.slides > div {
    margin-bottom: .470588235em;
}

/*  When HTML5 JS features supported, set width to 100%
 *  and float slides to the left. */
.js .slides > div {
    width: 100%;
    float: left;
    position: relative;
}

/*  Make slider images fluid */
.slides img {
    max-width: 100%;
    height: auto;
}

/*  Remove floats */
.slider:before, .slider:after { 
    display: table; 
    content: ""; 
    *zoom: 1; 
}

/*  Remove floats */
.slider:after { 
    clear: both; 
}
